<link rel="import" href="/resources/polymer/polymer/polymer.html">
<link rel="import" href="/resources/polymer/polymer/layout.html">
<link rel="import" href="/resources/polymer/paper-shadow/paper-shadow.html">
<link rel="import" href="/resources/polymer/core-overlay/core-overlay.html">
<link rel="import" href="/resources/polymer/core-selector/core-selector.html">
<link rel="import" href="/resources/polymer/core-icon-button/core-icon-button.html">
<link rel="import" href="/resources/polymer/core-icons/core-icons.html">
<link rel="import" href="/resources/polymer/paper-item/paper-item.html">
<link rel="import" href="/resources/polymer/paper-ripple/paper-ripple.html">
<link rel="import" href="/resources/polymer/paper-input/paper-input-decorator.html">
<link rel="import" href="/resources/polymer/paper-button/paper-button.html">
<link rel="import" href="/resources/polymer/core-transition/core-transition.html">
<link rel="import" href="/resources/polymer/core-transition/core-transition-css.html">
<link rel="import" href="/resources/polymer/core-tooltip/core-tooltip.html">
<!--link rel="import" href="/resources/polymer/core-tooltip/core-tooltip.css"-->
<link rel="import" href="/resources/polymer/paper-spinner/paper-spinner.html">
<link rel="import" href="/resources/components/lodash-lib.html">

<core-style id="search-icon-decorator">
    core-icon-button /deep/ core-icon[role="img"] { fill: {{g.paperInput.labelColor}}; }
    <!-- -->
    core-icon-button:hover /deep/ core-icon, #decorator[focused] /deep/ core-icon { fill: {{g.paperInput.focusedColor}}; }
    <!-- -->
    .invalid core-icon-button /deep/ core-icon { fill : {{g.paperInput.invalidColor}}; }
    <!-- -->
    paper-spinner { width: 1.0em; height:1.0em; }
    <!-- -->
    paper-spinner.blue::shadow .circle { border-color: {{g.paperInput.focusedColor}}; }
    <!-- -->
    .invalid paper-spinner { width: 1.0em; height:1.0em; border-color : {{g.paperInput.invalidColor}}; }
</core-style>

<polymer-element name="tg-autocompleter" attributes="label page-size separator multi">
    <template>
        <core-style ref="search-icon-decorator"></core-style>
        <link rel="stylesheet" href="tg-autocompleter.css">

        <div id="all" relative>

            <paper-input-decorator id="decorator" label="{{label}}" floatingLabel>
                <div id="input" layout horizontal>
                    <div id="input-container" flex>
                        <!-- if label is empty then the tooltip is not shown -->
                        <core-tooltip position="bottom" style="width:100%" disabled="{{!tooltip}}">
                            <input is="core-input" id="trigger" on-input="{{onInput}}" style="width:100%" placeholder="type">
                            <span class="autocompleter-tooltip" tip>
                                {{tooltip}}
                            </span>
                        </core-tooltip>
                    </div>
                    <div id="icon">
                        <template if="{{isSearching}}">
                            <paper-spinner id="spinner" active="{{isSearching}}" class="blue" alt="searching"></paper-spinner>
                        </template>
                        <template if="{{!isSearching}}">
                            <core-icon-button class="search-button" on-click="{{onInput}}" icon="search"></core-icon-buton>
                        </template>
                    </div>
                </div>
            </paper-input-decorator>


            <core-overlay id="overlay" class="tg-snatchback" autoFocusDisabled on-core-overlay-open-completed="{{suggestionsOpened}}">
                <paper-shadow z="1">
                    <!-- list of suggestions, each item can be selected with space (TODO) -->
                    <div class="tg-snatchback-suggestions">
                        <core-selector id="suggestions" valueattr="value" class="tg-snatchback-suggestions" on-core-select="{{onSelectItem}}" multi="{{multi}}">
                            <template repeat="{{v in matchedValues}}">
                                <paper-item class="tg-item" value="{{v.key}}" noink layout vertical>
                                    <!-- font-size:0 is a hack to enforce no space between the highlighted and not highlighted part of the key value -->
                                    <div flex style="font-size: 0">
                                        <template repeat="{{s in matchedParts(v.key)}}">
                                            <template if="{{s.matched}}">
                                                <span class="key-value key-value-highlighted">{{s.part}}</span>
                                            </template>
                                            <template if="{{!s.matched}}">
                                                <span class="key-value">{{s.part}}</span>
                                            </template>
                                        </template>
                                    </div>
                                    <div class="desc-value" flex three>{{v.desc}}</div>
                                </paper-item>
                            </template>
                        </core-selector>
                    </div>
                    <!-- toolbar -->
                    <div id="toolbar" style="border-top: thin solid #ccc; padding: 8px;" layout horizontal justified center>
                        <div id="paginator" layout horizontal center>
                            <core-icon-button class="tg-snatchback-button" icon="chevron-left"></core-icon-button>
                            <core-icon-button class="tg-snatchback-button" icon="chevron-right"></core-icon-button>
                        </div>
                        <div id="okCancel" layout horizontal center>
                            <paper-button class="tg-snatchback-button" on-click="{{onCancelClick}}" dismissive>Cancel</paper-button>
                            <paper-button class="tg-snatchback-button" on-click="{{onOkClick}}" affirmative default>Ok</paper-button>
                        </div>
                    </div>
                </paper-shadow>
            </core-overlay>
        </div>
    </template>

    <script>
        function escapeRegExp(str) {
            return str.replace(/([.*+?^=!:${}()|\[\]\/\\])/g, "\\$1");
        }

        function replaceAll(find, replace, str) {
            // 'g' is the flag for global match,
            // 'i' is the flag to ignore the case during matching
            return str.replace(new RegExp(escapeRegExp(find), 'g', 'i'), replace);
        }

        Polymer({
            "page-size": 10,
            tooltip: "",
            multi: false,
            label: "Autocompleter",
            separator: ",",
            isSearching: false,
            /* Handles click on button OK, which confirms selection and assignes it to the input field. */
            onOkClick: function () {
                // clear tooltip text
                this.tooltip = "";
                if (Object.keys(this.selectedItems).length > 1) {
                    this.tooltip = "There are " + Object.keys(this.selectedItems).length + " entities selected."
                } else if (Object.keys(this.selectedItems).length === 1) {
                    this.tooltip = this.selectedItems[Object.getOwnPropertyNames(this.selectedItems)[0]].desc;
                }

                console.log(this.tooltip);


                var selectedItemsToStr = _.map(this.selectedItems, function (obj) {
                    return obj.key
                }).toString();

                this.selectedItems = {};

                if (selectedItemsToStr) {
                    if (this.multi) {
                        var before = this.$.trigger.value.substring(0, this.replaceFromIndex + 1);
                        var after = this.$.trigger.value.substr(this.replaceToIndex);
                        this.$.trigger.value = before + selectedItemsToStr + after;
                    } else {
                        this.$.trigger.value = selectedItemsToStr;
                    }
                }

                this.$.overlay.close();
                this.$.trigger.focus();
                // let's highlight the inseted values
                this.$.trigger.selectionStart = this.multi ? this.replaceFromIndex + 1 : this.replaceFromIndex;
                this.$.trigger.selectionEnd = this.$.trigger.selectionStart + selectedItemsToStr.length;
            },
            /* Handles click on button Cancel. */
            onCancelClick: function () {
                this.$.overlay.close();
                this.$.trigger.focus();
            },
            /* A structure to maintain a list of selected items. */
            selectedItems: {},
            onSelectItem: function (event) {
                var key = event.detail.item.getAttribute("value");
                console.log('selected item: ', event.detail.isSelected, ' ', key);
                if (event.detail.isSelected) {
                    this.selectedItems[key] = _.find(this.matchedValues, function (obj) {
                        return obj.key === key;
                    });
                } else {
                    delete this.selectedItems[key];
                }
                console.log('selected items: ', this.selectedItems);
            },

            /* regular expression to highlight found matches */
            searchQuery: "",

            /* returns an array of parts that correspond to the found value, split by matching and non-matching portions */
            matchedParts: function matchedParts(str) {
                var parts = [];
                // if all is matched then return a single value
                if ("\\w*" == this.searchQuery) {
                    parts.push({
                        part: str,
                        matched: true
                    });
                    return parts;
                } else if ('' == this.searchQuery) {
                    return parts;
                }

                // otherwise split 
                var searchExp = new RegExp(this.searchQuery, 'g', 'i');
                var match;
                var startIndex = 0;
                while ((match = searchExp.exec(str)) !== null) {
                    if (match.index > startIndex) { // match is not from the start, so need to record thing before as not matched
                        var part = {
                            part: str.substring(startIndex, match.index),
                            matched: false
                        };
                        parts.push(part);
                        //console.log(part);
                    }

                    // record the matched part
                    var part = {
                        part: str.substring(match.index, searchExp.lastIndex),
                        matched: true
                    };
                    parts.push(part);
                    //console.log(part);

                    startIndex = searchExp.lastIndex;

                }
                // check if there is an unmatched part at the end
                if (startIndex < str.length) {
                    var part = {
                        part: str.substring(startIndex, str.length),
                        matched: false
                    };
                    parts.push(part);
                    //console.log(part);
                }
                // return the result
                return parts;
            },
            /* A position of the start of the search string the input value. */
            replaceFromIndex: 0,
            /* A position of the end of the search string the input value. */
            replaceToIndex: 0,
            /* The function that actually perform the search and opensup the overlay with matched values. */
            search: function () {
                this.isSearching = true;
                // need to implement the actuall search 
                // what is the query string?
                // TODO for new just grab the whole value, but later would need to split the input value by separator
                // and identify the search query based on the current cursor position
                // might need to prepend ^ and append $ to avoid match anywhere behaviour
                var inputText = this.$.trigger.value;
                if (this.multi) {
                    var text = this.$.trigger.value;
                    var caretPos = this.$.trigger.selectionStart;
                    var toIndex = text.indexOf(this.separator, caretPos);
                    if (toIndex < 0) {
                        toIndex = text.length;
                    }
                    var startOfText = text.substring(0, caretPos);
                    var fromIndex = startOfText.lastIndexOf(this.separator);
                    if (fromIndex < 0) {
                        fromIndex = -1; // just to make sure that it is -1
                    }

                    this.replaceFromIndex = fromIndex;
                    this.replaceToIndex = toIndex;

                    inputText = text.substring(fromIndex + 1, toIndex).trim();
                }
                console.log('search text portion: ', inputText);

                if (!inputText) {
                    this.searchQuery = ""
                } else {
                    this.searchQuery = replaceAll('*', '\\w*', inputText);
                }
                console.log('searchQuery: ', this.searchQuery);
                var searchExp = new RegExp(this.searchQuery, 'g', 'i');
                // iterate over allValues and find those that correspond to seachQuery
                // need to match by regular expression... the search query may contain whild cards...
                // cleare previous matches
                if (this.$.suggestions.selected) {
                    this.$.suggestions.selected.length = 0;
                }
                while (this.matchedValues.length > 0) {
                    this.matchedValues.pop();
                }
                // collect new matching values
                if (this.searchQuery) {
                    var allValues = this.allValues();
                    for (var index = 0; index < allValues.length; index++) {
                        /*if (allValues[index].key == '100100') {
                            console.log('was inspected ', allValues[index].key, ' ', searchExp.test(allValues[index].key));
                        }*/
                        if (searchExp.test(allValues[index].key)) {
                            console.log(allValues[index].key);
                            this.matchedValues.push(allValues[index]);
                        }
                    }
                }

                // once we found the matching values show them, but only if there are some
                if (!this.$.overlay.opened && this.matchedValues.length > 0) {
                    this.$.overlay.style.position = 'absolute';
                    this.$.overlay.style.top = this.$.decorator.offsetHeight + 'px';
                    this.$.overlay.style.width = this.$.decorator.offsetWidth + 'px';
                    this.$.overlay.toggle();
                    //this.isSearching = !this.isSearching;
                } else if (this.$.overlay.opened && this.matchedValues.length == 0) {
                    this.$.overlay.toggle();
                }
                this.isSearching = false;
            },
            /* A timer callback object, which is used to implement typing delay before initiating the search. */
            startSearchTimerCallback: null,
            /* a callback to reack to an input event to trigger search */
            onInput: function () {
                this.isSearching = true;
                if (this.startSearchTimerCallback) {
                    clearTimeout(this.startSearchTimerCallback);
                }
                if (!this.$.trigger.value) {
                    this.tooltip = "";
                }
                this.startSearchTimerCallback = setTimeout(this.search.bind(this), 700);
            },
            cancelSearch: function () {
                console.log('There is nothing to cancel by default.');
            },

            /* A handler of the overlay open event. */
            suggestionsOpened: function () {
                //this.isSearching = false;
            },

            /* to store matching values */
            matchedValues: [],

            /* need to provided all values as a function to enforced proper repainting of fileted bound items */
            allValues: function () {
                return [
                    {
                        key: "100096",
                        desc: "Cracks on five radiating elements.  (Transfered from T32 - 235058)"
                        },
                    {
                        key: "100100",
                        desc: "Air Fan SF1 faulty (soughern fan).  Has blown the fuse.  fuse replaced and still fails to operate.  (Transferred from T32 - 233195)"
                        },
                    {
                        key: "100102",
                        desc: "Need to install a small terminal strip in generator control panel for Crank Voltage.  This voltage need to feed too many places for the existing.  (transferred from T32 - 227040)"
                        },
                    {
                        key: "100151",
                        desc: "CH PC2 DG A Replace ASCO Mask"
                        },
                    {
                        key: "100266",
                        desc: "AA PSR Cable trays require security covers on lower sections"
                        },
                    {
                        key: "100974",
                        desc: "Remove 120ft mast"
                        },
                    {
                        key: "100976",
                        desc: "Replace outside Lighting"
                        },
                    {
                        key: "100980",
                        desc: "Seagrove Seismic Bracing"
                        },
                    {
                        key: "101097",
                        desc: "Update Position Descriptions and Salary Scales"
                        },
                    {
                        key: "101099",
                        desc: "AMMS completed for All network hardware"
                        },
                    {
                        key: "101101",
                        desc: "Create insite based Telco Service order form"
                        },
                    {
                        key: "101102",
                        desc: "Resolve Comteam and Networks folders"
                        },
                    {
                        key: "101168",
                        desc: "Create Audit process to cover all networks."
                        },
                    {
                        key: "101169",
                        desc: "Test security of CAM, IFIS, ASDI and ATAC"
                        },
                    {
                        key: "101174",
                        desc: "Provide NTP to IFIS"
                        },
                    {
                        key: "101176",
                        desc: "Install spare P100 in the Lab."
                        },
                    {
                        key: "101179",
                        desc: "Create network drawing standard"
                        },
                    {
                        key: "101180",
                        desc: "Capture RAD configs and save in configs folder"
                        },
                    {
                        key: "101181",
                        desc: "Complete install of Sky T&T SNMPc"
                        },
                    {
                        key: "101185",
                        desc: "Tidy up Net SNMPc"
                        },
                    {
                        key: "101188",
                        desc: "2/2/1 has no signalling. 4PRAs swapped, no change."
                        },
                    {
                        key: "101272",
                        desc: "IP MUX Meetings"
                        },
                    {
                        key: "101363",
                        desc: "A/C not turning off for Fire Alarm"
                        },
                    {
                        key: "101473",
                        desc: "Move WB Nokia Link off AMS Lan to Sup Lan."
                        },
                    {
                        key: "101499",
                        desc: "A/G1 report 8867KHz Rx3 u/s. Circuit did not re-route when SG-WL link-B was taken out of service. SG-WL link-B restored, but Rx3 still not routed anywhere...."
                        },
                    {
                        key: "101600",
                        desc: "rcom sat feed u/s. from TEW. emergency bypass and hot standby  emailed VGH."
                        },
                    {
                        key: "101630",
                        desc: "QN end of Aprisa link to Mt Nic not managable since unit was replaced"
                        },
                    {
                        key: "101778",
                        desc: "weekly PM for cleaning up - see tidyness check sheet sent on email"
                        },
                    {
                        key: "102414",
                        desc: "6/2/3 is faulty on AD1"
                        },
                    {
                        key: "102455",
                        desc: "Loss on Billing and Flt Exp. Please keep open and e-mail Sean Kennedy"
                        },
                    {
                        key: "102611",
                        desc: "ADC NOC/SNAD1/shelf/standby link alarm"
                        },
                    {
                        key: "102667",
                        desc: "Escort Cleaners for Monthly Cleaning"
                        },
                    {
                        key: "102740",
                        desc: "Refurbishment of RE fittings - continuous job."
                        },
                    {
                        key: "102753",
                        desc: "Major glitch on AH3 node. Call Control, Subscriber Mgr and SuperTRM processes all not normal.\nAffected multiple services Skyline, APN, ILS mon, AFTN, OCS monitoring etc..."
                        },
                    {
                        key: "102943",
                        desc: "Operator advises he is receiving Volmet interference on RX4 (13261 KHz). Passed to KBC"
                        },
                    {
                        key: "102980",
                        desc: "AA2    SG2     ctt turned off at request of VMH."
                        },
                    {
                        key: "103858",
                        desc: "Satellite Standby radio u/s."
                        },
                    {
                        key: "104099",
                        desc: "Will not supply clocking to VCS on ATS-QSig trunk"
                        },
                    {
                        key: "104782",
                        desc: "Establish cabling to Datasouth Building"
                        },
                    {
                        key: "104786",
                        desc: "LDB102, 1A72510, Monitor, intermittent failure. ex WN #2."
                        },
                    {
                        key: "104787",
                        desc: "AH PABX server can't connect to Tacy St PABX. Used to work up until about 4 months ago."
                        },
                    {
                        key: "104794",
                        desc: "BUTLER 2A1 Synth..  Ex MO Freq unlock light on intermittently (GCA))"
                        },
                    {
                        key: "104894",
                        desc: "Airport Earth Resistivity Measurement.  Note that Dry and Wet period readings are required. EO Documents Attached. Please call AFL Engineering before conducting the tests for more detailled instructions."
                        },
                    {
                        key: "104974",
                        desc: "ASDI  backup virtual machines to external hard drive"
                        },
                    {
                        key: "105313",
                        desc: "One way coms to YBBN..  long standing problem  see details."
                        },
                    {
                        key: "105443",
                        desc: "RCMS indicates fault with Main Tx. Faulted with Gen-i, ref 2170836."
                        },
                    {
                        key: "105486",
                        desc: "MET, WAA15, Anemometer.  Refurbish. (ex WN)"
                        },
                    {
                        key: "105487",
                        desc: "MET, WAV15, Wind Vane. Refurbish. (ex WN)"
                        },
                    {
                        key: "107149",
                        desc: "Annual self reporting on discomfort and pain. Please complete online form OSH4a and submit to your H&S Co-ordinator"
                        },
                    {
                        key: "107250",
                        desc: "aaocwp19 has gone 'blue' i.e. unreachable on the network. KBC has been working on it."
                        },
                    {
                        key: "107335",
                        desc: "OSH001 Inspection - Spray for lichen and moss growing on roof of 02GP Building"
                        },
                    {
                        key: "107363",
                        desc: "Following site inspection form pls spray for spiders and take rodent poison to site for nxt visit. Following site inspection check - add more rat poison. Fix broken hinge on ladder. Rusting brackets on fuel tank. One light out in control room."
                        },
                    {
                        key: "107479",
                        desc: "Gen-i fault reference #2309983 circuit 100537674 been faulted with the Network Team Vaughan"
                        },
                    {
                        key: "107565",
                        desc: "Capex Rotorua Runway ext  Feb - Mar 2011"
                        },
                    {
                        key: "107594",
                        desc: "Conduit saddles on lighting to be replaced"
                        },
                    {
                        key: "107803",
                        desc: "Sitewatch RCMS Expansion Project - PMWS\nEO Document Attached"
                        },
                    {
                        key: "107810",
                        desc: "Catic covers. Check and maintain selected covers."
                        },
                    {
                        key: "107872",
                        desc: "Unable to get a response from the AWS for a query on Skyline. Faulted with MET. Refer details."
                        },
                    {
                        key: "107895",
                        desc: "AHB_PADrj_6_2 causing failures of AP AFL and AFN Dump."
                        },
                    {
                        key: "108509",
                        desc: "External AFTN Connections to IP"
                        },
                    {
                        key: "108693",
                        desc: "PSR Coolant drum requires a shelf and means of attachment."
                        },
                    {
                        key: "108812",
                        desc: "Diplexer requires tuning"
                        },
                    {
                        key: "108859",
                        desc: "Refurbishment of TA Light Fittings - ongoing WA for invoicing purposes."
                        },
                    {
                        key: "108865",
                        desc: "Bus Bar Ached: Evidience of old arcing on main Essential busbars on Gaudin St Main switchboard. Inspected and no risk to service."
                        },
                    {
                        key: "108934",
                        desc: "AH3 Failed. VMH called out."
                        },
                    {
                        key: "108945",
                        desc: "Queenstown Airport New Main Switchboard Installation - EO documents attached"
                        },
                    {
                        key: "108964",
                        desc: "Time Synchronisation Project"
                        },
                    {
                        key: "109101",
                        desc: "AA P200 Promina has a part dead PLM card. jrs Do we have a mtce contract signed yet. ? Is this card being replaced. ?"
                        },
                    {
                        key: "109129",
                        desc: "OK LED is Red when operating - from Michael Rohde - needs to go to Vaughan pls"
                        },
                    {
                        key: "109140",
                        desc: "No output"
                        },
                    {
                        key: "109195",
                        desc: "Internet not working, faulted with telecom, telecom say their gear is ok, ColinRhodes saying Majestic House gear is ok, Vaughan says our gear os ok, and everyone's talking to each other but internet still down. GO FIGURE!!!"
                        },
                    {
                        key: "109378",
                        desc: "BUTLER 2A2 RF Amp/Modulator.  Died after several weeks running in workshop.  Was OFF for 3 days!"
                        },
                    {
                        key: "109392",
                        desc: "No chassis SN. Replaced fuse F1, No ouput"
                        },
                    {
                        key: "109670",
                        desc: "F5 content server showing cabinet fan alarm.  Advised VMH, we will wait until Nick L. comes on about 2pm to discuss repair."
                        },
                    {
                        key: "109746",
                        desc: "Source and test replacement for Scan Data modems."
                        },
                    {
                        key: "109765",
                        desc: "Lan (hub/switch) Unit at HH in the RCMS chain, failed. swaped with spare."
                        },
                    {
                        key: "109864",
                        desc: "Develop solution for RFC for intermittent Flash rate of REILs"
                        },
                    {
                        key: "109929",
                        desc: "Changing P-Lines Port 3 from AirCat 500 to Asterix - Refer attached EO Document"
                        },
                    {
                        key: "110257",
                        desc: "WL4 to SG2 2 Meg link is down."
                        },
                    {
                        key: "110362",
                        desc: "Anais system clock is slow by about 20 minutes, called out I Dore."
                        },
                    {
                        key: "111207",
                        desc: "Fan error on PC reboot. Depowered to cure it."
                        },
                    {
                        key: "111251",
                        desc: "Improve runway edge lighting - replace dim fittings"
                        },
                    {
                        key: "111539",
                        desc: "ARINC RGS Data Connections - Network Team"
                        },
                    {
                        key: "111698",
                        desc: "Twr report time on MM is 57 secs fast."
                        },
                    {
                        key: "112226",
                        desc: "Replace A4K2 Relay. Refer M&S Section 7.2.46"
                        },
                    {
                        key: "112615",
                        desc: "Speaker on CWS1 not working."
                        },
                    {
                        key: "112635",
                        desc: "AMHS Installation and AFTN Replacement"
                        },
                    {
                        key: "112877",
                        desc: "Failure of AH1 Main link, called out VMH"
                        },
                    {
                        key: "112883",
                        desc: "VSIP alarm. Node link alarms on most CH, AHB, and ADC nodes. Vaughan advised and will come in to investigate. Happened yesterday also."
                        },
                    {
                        key: "113160",
                        desc: "Remove Equipment Room A/C from Fire Drop"
                        },
                    {
                        key: "113438",
                        desc: "Strip printer now u/s after Phill Willson has been trying to investigate a fault ref WA 113219. Sourced replacement (TMS No 21826), and will send up to NP asap."
                        },
                    {
                        key: "114132",
                        desc: "Excessive static. Please return to training centre after repair"
                        },
                    {
                        key: "114187",
                        desc: "Sys admin TMCS alarm on the VCX TMCS. Network advised."
                        },
                    {
                        key: "114251",
                        desc: "Contractor identified FT against task 2 of PM for PAPI for Aug. Transformer pit full of water in front of PAPI boxes"
                        },
                    {
                        key: "114252",
                        desc: "Contractor identified FT against task 2 of PM for PAPI for Aug. Transformer pit full of water in front of PAPI boxes"
                        },
                    {
                        key: "115101",
                        desc: "Read the H&S Policy & Procedures Handbook - available online or hard copy in Christchurch"
                        },
                    {
                        key: "115102",
                        desc: "Read the H&S Policy & Procedures Handbook - available online or hard copy in Christchurch"
                        },
                    {
                        key: "115152",
                        desc: "Recheck VDF SOC's after large amount of construction at airfield"
                        },
                    {
                        key: "115309",
                        desc: "Hydraulic Pump cct breaker failed    GJC notified he expects to be on station by 0630z"
                        },
                    {
                        key: "115370",
                        desc: "Placeholder W/A for OUTSTANDING T32 ROTABLE STIs. Refer to Details Tab for list of outstanding STIs. For further information see T32 database. DO NOT FINISH W/A. Advise T64 Administrator if an STI is completed on a rotable listed in the Details Tab"
                        }
        ];
            }
        });
    </script>
</polymer-element>