    core-icon-button /deep/ core-icon[role="img"] {
        height: 1.1em;
        width: 1.1em;
        padding: 0px;
        margin: 0px;
        vertical-align: top;
    }
    
    .search-button {
        padding: 0px;
        margin: 0px;
        height: 1.1em;
        width: 1.1em;
        font: inherit;
    }
    
    * /deep/ core-tooltip::shadow #tooltip {
        min-width: 250px;
        white-space: normal;
    }
    
    * /deep/ core-tooltip .autocompleter-tooltip {
        line-height: 15px;
    }
    /*paper-spinner.blue::shadow .circle {
        border-color: black;
    }*/
    
    core-overlay.tg-snatchback {
        background-color: #FFFFFF;
        color: #000;
        /*border: 1px solid #ccc;*/
        /*border-radius: 3px;*/
        
        padding: 0px;
        /*min-width: 150px;*/
        
        overflow: visible;
    }
    
    .tg-snatchback-suggestions {
        padding: 0px;
        overflow: scroll;
        max-height: 300px;
        /* should depend on the target element, and adjust dynamically */
    }
    
    .tg-item {
        font-size: small;
    }
    
    .key-value {
        font-size: small;
    }
    /* this is how only not selected values get their matched parts highlighted*/
    
    paper-item:not(.core-selected) .key-value-highlighted {
        background-color: #ffff46;
    }
    
    .desc-value {
        font-size: x-small;
    }
    
    .tg-item:hover {
        cursor: pointer;
        background: #E1F5FE;
        color: #03A9F4;
    }
    
    .tg-item.core-selected {
        background: #03A9F4;
        color: #E1F5FE;
    }
    
    .tg-snatchback-button {
        color: #03A9F4;
    }