<html>

<head>

    <title>Search Demo</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">

    <script src="/resources/polymer/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="/resources/polymer/polymer/polymer.html">

    <link rel="import" href="/resources/polymer/iron-flex-layout/classes/iron-flex-layout.html">
    <link rel="import" href="/resources/polymer/paper-styles/paper-styles.html">
    <link rel="import" href="/resources/polymer/paper-styles/demo-pages.html">

    <link rel="import" href="/resources/components/tg-autocompleter/tg-search-input.html">

    <style>
        .with-margin {
            margin: 24px 40px;
        }
        
        .full-height {
            height: 100%;
        }
        
        .scrollable {
            overflow: auto;
        }
    </style>

</head>

<body unresolved>

    <template is="dom-bind">
        <p>
            Single selection with additional properties where <b>desc</b> and <b>prop1</b> should get processed for highlighting the matched parts.

            <tg-search-input id="searchButton" additional-properties='{"desc":true, "prop2":false, "prop1":true}'></tg-search-input>
        </p>
        <br/>
        <p>
            Multi selection with additional property <b>prop1</b> that does not get processed for highlighting the matched parts.

            <tg-search-input id="searchButton1" multi additional-properties='{"prop1":false}'></tg-search-input>
        </p>
    </template>

    <script>
    </script>

</body>

</html>