<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>Flex insertion example</title>
    <script src="/resources/polymer/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="/resources/polymer/paper-styles/paper-styles-classes.html">
    <link rel="import" href="tg-content-layout.html">

    <body unresolved class="fullbleed">
        <tg-content-layout>
            <div>Test1</div>
            <div>Test2</div>
            <div>Test3</div>
            <div>Test4</div>
        </tg-content-layout>
    </body>
</html>