<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>Flex layout with subheader example</title>
    <script src='/resources/polymer/@webcomponents/webcomponentsjs/custom-elements-es5-adapter.js'></script>
    <script src='/resources/polymer/@webcomponents/webcomponentsjs/webcomponents-loader.js'></script>
    <script type="module">
        import '/resources/polymer/@polymer/iron-flex-layout/iron-flex-layout-classes.js';
        import '/resources/polymer/@polymer/paper-input/paper-input.js';
        import '/resources/polymer/@polymer/paper-styles/paper-styles-classes.js';
        import './tg-flex-layout.js';
    </script>

    <style>
        html {
            font-size: 10pt;
        }
        body {
            transition: opacity ease-in 0.2s;
            opacity: 1;
            font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 10pt;
        }
        body[unresolved] {
            opacity: 0;
        }
    </style>
    <custom-style>
        <style include="iron-flex iron-flex-reverse iron-flex-alignment iron-flex-factors iron-positioning"></style>
    </custom-style>
</head>
<body unresolved class="fullbleed">
    <dom-bind>
        <template is="dom-bind">
            <tg-flex-layout when-desktop="[[_whenDesktop()]]" when-tablet="[[_whenTablet()]]" when-mobile="[[_whenMobile()]]" context="[[layoutContext]]">
                <paper-input label="floated label" always-float-label></paper-input>
                <paper-input label="floated label" always-float-label></paper-input>
                <paper-input label="floated label" always-float-label></paper-input>
                <paper-input label="floated label" always-float-label></paper-input>
                <paper-input label="floated label" always-float-label></paper-input>
                <paper-input label="floated label" always-float-label></paper-input>
                <paper-input label="floated label" always-float-label></paper-input>
                <paper-input label="floated label" always-float-label></paper-input>
                <paper-input label="floated label" always-float-label></paper-input>
                <paper-input label="floated label" always-float-label></paper-input>
                <paper-input label="floated label" always-float-label></paper-input>
                <paper-input label="floated label" always-float-label></paper-input>
                <paper-input label="floated label" always-float-label></paper-input>
                <paper-input label="floated label" always-float-label></paper-input>
                <paper-input label="floated label" always-float-label></paper-input>
                <paper-input label="floated label" always-float-label></paper-input>
                <paper-input label="floated label" always-float-label></paper-input>
                <paper-input label="floated label" always-float-label></paper-input>
                <paper-input label="floated label" always-float-label></paper-input>
                <paper-input label="floated label" always-float-label></paper-input>
                <paper-input label="floated label" always-float-label></paper-input>
                <paper-input label="floated label" always-float-label></paper-input>
                <paper-input label="floated label" always-float-label></paper-input>
            </tg-flex-layout>
        </template>
    </dom-bind>
</body>
<script>
    var app = document.querySelector('dom-bind');
    app._whenDesktop = function () {
        return ['padding-left:16px',
                /*['subheader:Subheader One','margin-top:0px','padding-bottom:32px'],*/
                ['html:<span style="display: inline-block;color:blue;vertical-align: middle;"><img style="vertical-align: middle;height: 100%;display: inline-block;" src="/resources/icons/tg-icon.png"><span>[[embededText]]</span></span>', 'padding-top:8px','padding-bottom:8px'],
                ['padding-left:32px',['flex','padding-right:20px'],['flex','padding-right:20px'],['flex']],
                ['padding-left:32px',['flex','padding-right:20px'],['flex','padding-right:20px'],['flex']],
                ['padding-top:8px','padding-bottom:8px', ['html:<span style="height: 100%;display: inline-block;vertical-align: middle;">This is an <span style="color:red">explanation</span> text</span>'],['html:<span style="display: inline-block;color:blue;vertical-align: middle;">, consisting of two parts.</span>']],
                ['padding-left:32px',['flex','padding-right:20px'],['flex','padding-right:20px'],['flex']],
                ['padding-left:32px',['flex','padding-right:20px'],['flex','padding-right:20px'],['flex']],
                ['subheader-closed:Subheader Two','padding-top:24px','padding-bottom:32px'],
                ['padding-left:32px',['flex','padding-right:20px'],['skip', 'flex','padding-right:20px'],['flex']],
                ['padding-left:32px',['flex','padding-right:20px'],['flex','padding-right:20px'],['flex']],
                ['subheader-open:Subheader Tree','padding-top:24px','padding-bottom:32px'],
                ['padding-left:32px',['flex','padding-right:20px'],['flex','padding-right:20px'],['flex']],
                ['subheader:Subheader Four','padding-top:24px','padding-bottom:32px'],
                ['padding-left:32px',['flex: 2','padding-right:10px'],['skip','flex']]
               ];
    };
    app._whenTablet = function () {
        return [[['flex','padding-right:20px'],['flex']],['subheader:Static title'],[['skip','flex','padding-right:20px'],['flex']],[['flex','padding-right:20px'],['flex']]];
    };
    app._whenMobile = function () {
        return [[['flex','padding-right:20px'],['flex']],['subheader:Static title'],[['skip','flex','padding-right:20px'],['flex']],[['flex','padding-right:20px'],['flex']]];
    };
    app.layoutContext = {
        embededText: " Embedding images is easy."
    };
</script>

</html>