<link rel="import" href="/resources/polymer/polymer/polymer.html">
<link rel="import" href="/resources/polymer/iron-media-query/iron-media-query.html">
<link rel="import" href="/resources/polymer/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/resources/components/tg-subheader.html">
<link rel="import" href="/app/tg-app-config.html">
<link rel="import" href="/resources/reflection/tg-polymer-utils.html">

<dom-module id="tg-flex-layout">

    <template>
        <style>
            :host::content .hidden-with-subheader {
                display: none !important;
            }
        </style>
        <tg-app-config id="appConfig"></tg-app-config>
        <iron-media-query query="[[_calcMobileQuery()]]" on-query-matches-changed="_mobileChanged"></iron-media-query>
        <iron-media-query query="[[_calcTabletQuery()]]" on-query-matches-changed="_tabletChanged"></iron-media-query>
        <iron-media-query query="[[_calcDesktopQuery()]]" on-query-matches-changed="_desktopChanged"></iron-media-query>
        <content select=":not(text):not(template)" id="elements"></content>
    </template>

</dom-module>

<script>
    (function () {
        'use strict'
        var keyWords = {
                "skip": function (selectedElements, orderedElements, layoutElem) {
                    return document.createElement('div');
                },
                "select": function (selectedElements, orderedElements, layoutElem) {
                    var selectCondition = layoutElem.split(':')[1].split('=');
                    var attribute = selectCondition[0].trim();
                    if (selectedElements.length > 0 && selectedElements[0].hasAttribute(attribute) && selectedElements[0].getAttribute(attribute) === selectCondition[1].trim()) {
                        return selectedElements.splice(0, 1)[0];
                    }
                },
                "subheader": function (selectedElements, orderedElements, layoutElem) {
                    return createSubheader.bind(this)(layoutElem, false, false);
                },
                "subheader-open": function (selectedElements, orderedElements, layoutElem) {
                    return createSubheader.bind(this)(layoutElem, true, false);
                },
                "subheader-closed": function (selectedElements, orderedElements, layoutElem) {
                    return createSubheader.bind(this)(layoutElem, true, true);
                },
                "html": function (selectedElements, orderedElements, layoutElem) {
                    var elemToReturn = document.createElement('div');
                    elemToReturn.innerHTML = layoutElem.split(':').slice(1).join(':').trim();
                    return elemToReturn;
                }
            },
            createSubheader = function (layoutElem, collapsible, closed) {
                var elemToReturn = document.createElement('tg-subheader');
                elemToReturn.subheaderTitle = layoutElem.split(':')[1].trim();
                if (collapsible) {
                    elemToReturn.collapsible = true;
                    elemToReturn.closed = closed;
                }
                return elemToReturn;
            },
            setLayout = function (layout) {
                var subheader,
                    selectedElements = [],
                    orderedElements = [];
                if (!Array.isArray(layout)) {
                    throw "The layout must be an array";
                }
                if (this.currentLayout !== layout) {
                    if (!this.componentsToLayout) {
                        this.componentsToLayout = [];
                        Array.prototype.forEach.call(Polymer.dom(this.$.elements).getDistributedNodes(), function (item) {
                            this.componentsToLayout.push(item);
                        }.bind(this));
                    }
                    // Removes all Light DOM children, that were distributed through content insertion points or added manually using DOM API
                    // This method is defined in tg-polymer-utils.
                    _removeAllLightDOMChildrenFrom(this);
                    resetSubheaderComponents.bind(this)();

                    Polymer.dom.flush();
                    removeStylesAndClasses.bind(this)(this);
                    this.toggleClass("layout", true);
                    this.toggleClass("vertical", true);
                    if (this.debug) {
                        setDebugStyle(this);
                    } else {
                        removeDebugStyle(this);
                    }
                    orderedElements = this.componentsToLayout.slice();
                    splitElements.bind(this)(selectedElements, orderedElements, layout);
                    layout.forEach((function (layoutElem) {
                        subheader = createFlexCell.bind(this)(this, layoutElem, selectedElements, orderedElements, subheader, true);
                    }).bind(this));
                    Polymer.dom.flush();
                    this._setCurrentLayout(layout);
                    this.fire('layout-finished', layout);
                }
            },
            resetSubheaderComponents = function () {
                this._subheaders.forEach(function (subheader) {
                    subheader.removeAllRelatedComponents();
                });
                this._subheaders = [];
            },
            splitElements = function (selectedElements, orderedElements, layout) {
                var selectIndex, selectedElement;
                if (hasArray(layout)) {
                    layout.forEach(function (element) {
                        if (Array.isArray(element)) {
                            splitElements.bind(this)(selectedElements, orderedElements, element);
                        }
                    }.bind(this));
                } else {
                    selectIndex = getSelectIndex(layout);
                    if (selectIndex >= 0) {
                        selectedElement = spliceSelectedElement(orderedElements, layout[selectIndex]);
                        if (selectedElement) {
                            selectedElements.push(selectedElement);
                        }
                    }
                }
            },
            spliceSelectedElement = function (orderedElements, layoutElement) {
                var attribute, value, selectCondition, elementIndex, colonIndex, equalSignIndex;
                colonIndex = layoutElement.indexOf(':');
                equalSignIndex = layoutElement.indexOf('=');
                if (colonIndex >= 0 && equalSignIndex >= 0 && colonIndex < equalSignIndex) {
                    selectCondition = layoutElement.split(':')[1].split('=');
                    attribute = selectCondition[0].trim();
                    value = selectCondition[1].trim();
                    for (elementIndex = 0; elementIndex < orderedElements.length; elementIndex += 1) {
                        if (orderedElements[elementIndex].hasAttribute(attribute) && orderedElements[elementIndex].getAttribute(attribute) === value) {
                            return orderedElements.splice(elementIndex, 1)[0];
                        }
                    }
                } else {
                    throw "Syntax error: the select condition must have ':' and '=' signs for example: 'select:propName=key.prop'";
                }
                return null;
            },
            setDebugStyle = function (element) {
                if (element.style) {
                    element.style.border = "1px dashed red";
                }
            },
            removeDebugStyle = function (element) {
                if (element.style) {
                    element.style.removeProperty("border");
                }
            },
            removeStylesAndClasses = function (element) {
                if (element.stylesToRemove) {
                    element.stylesToRemove.forEach(function (style) {
                        element.style.removeProperty(style);
                    });
                    delete element.stylesToRemove;
                }
                if (element.classesToRemove) {
                    element.classesToRemove.forEach(function (className) {
                        this.toggleClass(className, false, element);
                    }.bind(this));
                    delete element.classesToRemove;
                }
                this.toggleClass("hidden-with-subheader", false, element);
            },
            createFlexCell = function (container, layoutElem, selectedElements, orderedElements, subheader, horizontal) {
                var rowElement, styleValues, trimmedLayoutElement;
                var newSubheader = subheader;
                if (typeof layoutElem === "string") {
                    trimmedLayoutElement = layoutElem.trim();
                    if (layoutElem.indexOf(':') >= 0) {
                        styleValues = layoutElem.split(":");
                        if (!keyWords[styleValues[0].trim()]) {
                            container.style[styleValues[0].trim()] = styleValues[1].trim();
                            container.stylesToRemove = container.stylesToRemove || [];
                            container.stylesToRemove.push(styleValues[0].trim());
                        }
                    } else {
                        container.classesToRemove = container.classesToRemove || [];
                        container.classesToRemove.push(trimmedLayoutElement);
                        if (trimmedLayoutElement === "horizontal" || trimmedLayoutElement === "vertical") {
                            this.toggleClass(horizontal ? "vertical" : "horizontal", false, container);
                        }
                        this.toggleClass(trimmedLayoutElement, true, container);
                    }
                } else if (Array.isArray(layoutElem)) {
                    if (!hasArray(layoutElem)) {
                        rowElement = getNextElement.bind(this)(selectedElements, orderedElements, layoutElem);
                        removeStylesAndClasses.bind(this)(rowElement);
                    } else {
                        rowElement = document.createElement("div");
                        this.toggleClass("layout", true, rowElement);
                        if (layoutElem.indexOf("horizontal") < 0 && layoutElem.indexOf("vertical") < 0) {
                            this.toggleClass(horizontal ? "horizontal" : "vertical", true, rowElement);
                        }
                    }
                    if (rowElement.tagName === 'TG-SUBHEADER') {
                        newSubheader = rowElement;
                        this._subheaders.push(newSubheader)
                    } else if (newSubheader) {
                        newSubheader.addRelativeElement(rowElement);
                    }
                    if (this.debug) {
                        setDebugStyle(rowElement);
                    } else {
                        removeDebugStyle(rowElement);
                    }
                    layoutElem.forEach((function (columnLayout) {
                        newSubheader = createFlexCell.bind(this)(rowElement, columnLayout, selectedElements, orderedElements, newSubheader, !horizontal);
                    }).bind(this));
                    Polymer.dom(container).appendChild(rowElement);
                }
                return newSubheader;
            },
            getNextElement = function (selectedElements, orderedElements, layoutElem) {
                var elemToReturn = findKeyWordElement.bind(this)(selectedElements, orderedElements, layoutElem);
                if (!elemToReturn) {
                    if (orderedElements.length > 0) {
                        elemToReturn = orderedElements.splice(0, 1)[0];
                    } else {
                        elemToReturn = document.createElement('div');
                        elemToReturn.innerHTML = "element not found!";
                    }
                }
                return elemToReturn;
            },
            findKeyWordElement = function (selectedElements, orderedElements, layoutElem) {
                var elemIndex, keyWord, keyWordFunction;
                for (elemIndex = 0; elemIndex < layoutElem.length; elemIndex++) {
                    if (typeof layoutElem[elemIndex] === 'string') {
                        keyWord = layoutElem[elemIndex].split(':')[0].trim();
                        if (keyWords[keyWord]) {
                            return keyWords[keyWord].bind(this)(selectedElements, orderedElements, layoutElem[elemIndex]);
                        }
                    }
                }
            },
            getSelectIndex = function (layoutElem) {
                var elemIndex;
                for (elemIndex = 0; elemIndex < layoutElem.length; elemIndex++) {
                    if (typeof layoutElem[elemIndex] === 'string' && layoutElem[elemIndex].indexOf("select") >= 0) {
                        return elemIndex;
                    }
                }
                return -1;
            },
            /**
             * Determines whether layout has array as one of it's element.
             */
            hasArray = function (layoutElem) {
                var elemIndex;
                for (elemIndex = 0; elemIndex < layoutElem.length; elemIndex++) {
                    if (Array.isArray(layoutElem[elemIndex])) {
                        return true;
                    }
                }
                return false;
            };
        Polymer({

            is: "tg-flex-layout",

            properties: {
                whenDesktop: {
                    type: Array,
                    observer: "_whenDesktopChanged"
                },
                whenTablet: {
                    type: Array,
                    observer: "_whenTabletChanged"
                },
                whenMobile: {
                    type: Array,
                    observer: "_whenMobileChanged"
                },
                debug: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true,
                    observer: "_debugChanged"
                },
                desktopScreen: {
                    type: Boolean,
                    readOnly: true,
                    observer: "_handleDesktopScreen"
                },
                tabletScreen: {
                    type: Boolean,
                    readOnly: true,
                    observer: "_handleTabletScreen"
                },
                mobileScreen: {
                    type: Boolean,
                    readOnly: true,
                    observer: "_handleMobileScreen"
                },
                currentLayout: {
                    type: Boolean,
                    readOnly: true
                },
                contentLoaded: {
                    type: Boolean,
                    readOnly: true,
                    observer: "_handleContentLoading",
                    value: false
                },
                _subheaders: {
                    type: Array
                }
            },
            ready: function () {
                this._subheaders = [];
                this._editorErrorHandler = this._editorErrorHandler.bind(this);
                this.addEventListener('editor-error-appeared', this._editorErrorHandler);
            },
            attached: function () {
                var self = this;
                this.async(function () {
                    this._setContentLoaded(true);
                }, 1);
            },
            _editorErrorHandler: function (e) {
                var subheader = e.detail.$$relativeSubheader$$;
                var subheaderHierarchy;
                if (this._subheaders.indexOf(subheader) >= 0) {
                    subheaderHierarchy = this._findSubheaderHierarchy(subheader);
                    if (subheaderHierarchy.length > 0 && subheaderHierarchy[subheaderHierarchy.length - 1].offsetParent) {
                        subheaderHierarchy.forEach(function (subheader) {
                            subheader.open();
                        });
                    }
                }
            },
            _findSubheaderHierarchy: function (subheader) {
                var subheaderHierarchy = [];
                while (subheader) {
                    subheaderHierarchy.push(subheader);
                    subheader = subheader.parentElement && subheader.parentElement.$$relativeSubheader$$;
                }
                return subheaderHierarchy;
            },
            _handleMobileScreen: function (newValue, oldValue) {
                var layout = this.whenMobile || this.whenTablet || this.whenDesktop;
                if (newValue && layout && this.contentLoaded) {
                    setLayout.bind(this)(layout);
                }
            },
            _handleTabletScreen: function (newValue, oldValue) {
                var layout = this.whenTablet || this.whenMobile || this.whenDesktop;
                if (newValue && layout && this.contentLoaded) {
                    setLayout.bind(this)(layout);
                }
            },
            _handleDesktopScreen: function (newValue, oldValue) {
                var layout = this.whenDesktop || this.whenTablet || this.whenMobile;
                if (newValue && layout && this.contentLoaded) {
                    setLayout.bind(this)(layout);
                }
            },
            _handleContentLoading: function (newValue, oldValue) {
                if (newValue && (this.whenDesktop || this.whenTablet || this.whenMobile)) {
                    if (this.desktopScreen) {
                        setLayout.bind(this)(this.whenDesktop || this.whenTablet || this.whenMobile);
                    } else if (this.tabletScreen) {
                        setLayout.bind(this)(this.whenTablet || this.whenMobile || this.whenDesktop);
                    } else if (this.mobileScreen) {
                        setLayout.bind(this)(this.whenMobile || this.whenTablet || this.whenDesktop);
                    }
                }
            },
            _mobileChanged: function (e, detail) {
                this._setMobileScreen(detail.value);
            },
            _tabletChanged: function (e, detail) {
                this._setTabletScreen(detail.value);
            },
            _desktopChanged: function (e, detail) {
                this._setDesktopScreen(detail.value);
            },
            _whenMobileChanged: function (newValue, oldValue) {
                if (this.mobileScreen && newValue && this.contentLoaded) {
                    setLayout.bind(this)(this.whenMobile);
                }
            },
            _whenTabletChanged: function (newValue, oldValue) {
                if (this.tabletScreen && newValue && this.contentLoaded) {
                    setLayout.bind(this)(this.whenTablet);
                }
            },
            _whenDesktopChanged: function (newValue, oldValue) {
                if (this.desktopScreen && newValue && this.contentLoaded) {
                    setLayout.bind(this)(this.whenDesktop);
                }
            },
            _debugChanged: function (newValue, oldValue) {
                if (this.componentsToLayout) {
                    this.componentsToLayout.forEach(function (element) {
                        if (newValue) {
                            setDebugStyle(element);
                        } else {
                            removeDebugStyle(element);
                        }
                    });
                }
            },
            _calcMobileQuery: function () {
                return "max-width: " + (this.$.appConfig.minTabletWidth - 1) + "px";
            },
            _calcTabletQuery: function () {
                return "(min-width: " + this.$.appConfig.minTabletWidth + "px) and (max-width: " + (this.$.appConfig.minDesktopWidth - 1) + "px)";
            },
            _calcDesktopQuery: function () {
                return "min-width: " + this.$.appConfig.minDesktopWidth + "px";
            }
        });
    })();
</script>