<link rel="import" href="/resources/polymer/polymer/polymer.html">
<link rel="import" href="/resources/polymer/core-media-query/core-media-query.html">
<link rel="import" href="/tg-web-app/tg-app-config.html">

<polymer-element name="tg-flex-layout" attributes="whenDesktop whenTablet whenMobile debug">
    <template>
        <content select=":not(text):not(template)" id="elements"></content>
        <tg-app-config id="appConfig"></tg-app-config>
        <core-media-query query="max-width: {{$.appConfig.minTabletWidth - 1}}px" querymatches="{{mobileScreen}}" on-core-media-change="{{handleMobileScreen}}"></core-media-query>
        <core-media-query query="(min-width: {{$.appConfig.minTabletWidth}}px) and (max-width: {{$.appConfig.minDesktopWidth - 1}}px)" querymatches="{{tabletScreen}}" on-core-media-change="{{handleTabletScreen}}"></core-media-query>
        <core-media-query query="min-width: {{$.appConfig.minDesktopWidth}}px" querymatches="{{desktopScreen}}" on-core-media-change="{{handleDesktopScreen}}"></core-media-query>
    </template>
    <script>
        (function () {
            'use strict'
            var setLayout = function (layout) {
                    var contentIndex = 0,
                        selectedElements = [],
                        orderedElements = [];
                    if (!Array.isArray(layout)) {
                        throw "The layout must be an array";
                    }
                    if (this.container) {
                        while (this.container.firstChild) {
                            this.container.removeChild(this.container.firstChild);
                        }
                        removeStylesAndAttributes(this.container);
                        this.container.setAttribute("layout", "");
                        this.container.setAttribute("vertical", "");
                        if (this.debug) {
                            setDebugStyle(this.container);
                        } else {
                            removeDebugStyle(this.container);
                        }
                        orderedElements = this.componentsToLayout.slice(0);
                        splitElements.bind(this)(selectedElements, orderedElements, layout);
                        layout.forEach((function (layoutElem) {
                            contentIndex = createFlexCell.bind(this)(this.container, layoutElem, selectedElements, orderedElements, true);
                        }).bind(this));
                        this.fire('layout-finished', layout);
                    }
                },
                splitElements = function (selectedElements, orderedElements, layout) {
                    var selectIndex, selectedElement;
                    if (hasArray(layout)) {
                        layout.forEach(function (element) {
                            if (Array.isArray(element)) {
                                splitElements.bind(this)(selectedElements, orderedElements, element);
                            }
                        }.bind(this));
                    } else {
                        selectIndex = getSelectIndex(layout);
                        if (selectIndex >= 0) {
                            selectedElement = spliceSelectedElement(orderedElements, layout[selectIndex]);
                            if (selectedElement) {
                                selectedElements.push(selectedElement);
                            }
                        }
                    }
                },
                spliceSelectedElement = function (orderedElements, layoutElement) {
                    var attribute, value, selectCondition, elementIndex, colonIndex, equalSignIndex;
                    colonIndex = layoutElement.indexOf(':');
                    equalSignIndex = layoutElement.indexOf('=');
                    if (colonIndex >= 0 && equalSignIndex >= 0 && colonIndex < equalSignIndex) {
                        selectCondition = layoutElement.split(':')[1].split('=');
                        attribute = selectCondition[0].trim();
                        value = selectCondition[1].trim();
                        for (elementIndex = 0; elementIndex < orderedElements.length; elementIndex += 1) {
                            if (orderedElements[elementIndex].hasAttribute(attribute) && orderedElements[elementIndex].getAttribute(attribute) === value) {
                                return orderedElements.splice(elementIndex, 1)[0];
                            }
                        }
                    } else {
                        throw "Syntax error: the select condition must have ':' and '=' signs for example: 'select:propName=key.prop'";
                    }
                    return null;
                },
                setDebugStyle = function (element) {
                    element.style.border = "1px dashed red";
                },
                removeDebugStyle = function (element) {
                    element.style.removeProperty("border");
                },
                removeStylesAndAttributes = function (element) {
                    if (element.stylesToRemove) {
                        element.stylesToRemove.forEach(function (style) {
                            element.style.removeProperty(style);
                        });
                        delete element.stylesToRemove;
                    }
                    if (element.attributesToRemove) {
                        element.attributesToRemove.forEach(function (attribute) {
                            element.removeAttribute(attribute);
                        });
                        delete element.attributesToRemove;
                    }
                },
                createFlexCell = function (container, layoutElem, selectedElements, orderedElements, horizontal) {
                    var rowElement, styleValues, trimmedLayoutElement;
                    if (typeof layoutElem === "string") {
                        trimmedLayoutElement = layoutElem.trim();
                        if (layoutElem.indexOf(':') >= 0) {
                            styleValues = layoutElem.split(":");
                            if (styleValues[0].trim() !== 'select') {
                                container.style[styleValues[0].trim()] = styleValues[1].trim();
                                container.stylesToRemove = container.stylesToRemove || [];
                                container.stylesToRemove.push(styleValues[0].trim());
                            }
                        } else {
                            container.attributesToRemove = container.attributesToRemove || [];
                            container.attributesToRemove.push(trimmedLayoutElement);
                            if (trimmedLayoutElement === "horizontal" || trimmedLayoutElement === "vertical") {
                                container.removeAttribute(horizontal ? "vertical" : "horizontal");
                            }
                            container.setAttribute(trimmedLayoutElement, "");
                        }
                    } else if (Array.isArray(layoutElem)) {
                        if (!hasArray(layoutElem)) {
                            rowElement = getNextElement(selectedElements, orderedElements, layoutElem);
                            removeStylesAndAttributes(rowElement);
                        } else {
                            rowElement = document.createElement("div");
                            rowElement.setAttribute("layout", "");
                            if (layoutElem.indexOf("horizontal") < 0 && layoutElem.indexOf("vertical") < 0) {
                                rowElement.setAttribute(horizontal ? "horizontal" : "vertical", "");
                            }
                        }
                        if (this.debug) {
                            setDebugStyle(rowElement);
                        } else {
                            removeDebugStyle(rowElement);
                        }
                        layoutElem.forEach((function (columnLayout) {
                            createFlexCell.bind(this)(rowElement, columnLayout, selectedElements, orderedElements, !horizontal);
                        }).bind(this));
                        container.appendChild(rowElement);
                    }
                },
                getNextElement = function (selectedElements, orderedElements, layoutElem) {
                    var notFoundElement, attribute, value, selectCondition, selectElem, selectIndex = getSelectIndex(layoutElem);
                    if (selectIndex >= 0) {
                        selectElem = layoutElem[selectIndex];
                        selectCondition = selectElem.split(':')[1].split('=');
                        attribute = selectCondition[0].trim();
                        value = selectCondition[1].trim();
                        if (selectedElements.length > 0 && selectedElements[0].hasAttribute(attribute) && selectedElements[0].getAttribute(attribute) === value){
                            return selectedElements.splice(0, 1)[0];
                        }
                    } else if (orderedElements.length > 0) {
                        return orderedElements.splice(0, 1)[0];
                    }
                    notFoundElement = document.createElement('div');
                    notFoundElement.innerHTML = "element not found!"
                    return notFoundElement;
                },
                hasArray = function (layoutElem) {
                    var elemIndex;
                    for (elemIndex = 0; elemIndex < layoutElem.length; elemIndex++) {
                        if (Array.isArray(layoutElem[elemIndex])) {
                            return true;
                        }
                    }
                    return false;
                },
                getSelectIndex = function (layoutElem) {
                    var elemIndex;
                    for (elemIndex = 0; elemIndex < layoutElem.length; elemIndex++) {
                        if (typeof layoutElem[elemIndex] === 'string' && layoutElem[elemIndex].indexOf("select") >= 0) {
                            return elemIndex;
                        }
                    }
                    return -1;
                };
            Polymer({
                publish: {
                    debug: {
                        value: false,
                        reflect: true
                    }
                },
                domReady: function () {
                    this.componentsToLayout = [];
                    Array.prototype.forEach.call(this.$.elements.getDistributedNodes(), function (item) {
                        this.componentsToLayout.push(item);
                    }.bind(this));
                    if (this.componentsToLayout.length > 0) {
                        this.container = this.componentsToLayout[0].parentElement;
                    }
                },
                handleMobileScreen: function (e) {
                    if (e.detail.matches && this.whenMobile) {
                        setLayout.bind(this)(this.whenMobile);
                    }
                },
                handleTabletScreen: function (e) {
                    if (e.detail.matches && this.whenTablet) {
                        setLayout.bind(this)(this.whenTablet);
                    }
                },
                handleDesktopScreen: function (e) {
                    if (e.detail.matches && this.whenDesktop) {
                        setLayout.bind(this)(this.whenDesktop);
                    }
                },
                whenMobileChanged: function (oldValue, newValue) {
                    if (this.mobileScreen && this.whenMobile) {
                        setLayout.bind(this)(this.whenMobile);
                    }
                },
                whenTabletChanged: function (oldValue, newValue) {
                    if (this.tabletScreen && this.whenTablet) {
                        setLayout.bind(this)(this.whenTablet);
                    }
                },
                whenDesktopChanged: function (oldValue, newValue) {
                    if (this.desktopScreen && this.whenDesktop) {
                        setLayout.bind(this)(this.whenDesktop);
                    }
                }
            });
        })();
    </script>
</polymer-element>