<link rel="import" href="/resources/polymer/polymer/polymer.html">


<dom-module id="tg-html-directive">
    <template>
        <span>Hello</span>
        <template is="dom-bind">
            <span>{{test}}</span>
        </template>
    </template>

    <script>
        Polymer({
            is: 'tg-html-directive',

            properties: {

            },

            behaviors: [Polymer.Templatizer],

            ready: function () {
                this.test = "lot of stuff";
            },

            attached: function () {

            }
        });
    </script>
</dom-module>

