<link rel="import" href="/resources/polymer/polymer/polymer.html">
<link rel="import" href="/resources/polymer/core-animated-pages/core-animated-pages.html">
<link rel="import" href="/resources/polymer/core-animated-pages/transitions/slide-from-right.html">
<link rel="import" href="/resources/polymer/core-toolbar/core-toolbar.html">
<link rel="import" href="/resources/polymer/core-icon-button/core-icon-button.html">
<link rel="import" href="/resources/element_loader/load-element.html">
<link rel="import" href="/resources/polymer/core-menu/core-menu.html">
<link rel="import" href="/resources/polymer/core-menu/core-submenu.html">
<link rel="import" href="/resources/polymer/core-icon/core-icon.html">
<link rel="import" href="/resources/polymer/core-item/core-item.html">
<link rel="import" href="/resources/polymer/core-scaffold/core-scaffold.html">
<link rel="import" href="/resources/polymer/paper-shadow/paper-shadow.html">
<link rel="import" href="/resources/polymer/paper-fab/paper-fab.html">

<polymer-element name="tg-view-with-menu" attributes="label pages route">
    <template>
        <style>
            core-animated-pages {
                width: 85%;
                height: 85%;
                border: none;
                -webkit-user-select: none;
                border-radius: 5px;
                transform: translateZ(0);
            }
            paper-shadow {
                padding-left: 22px;
            }
            core-menu > * {
                padding-left: 22px;
                font-size: 13px;
            }
            core-animated-pages > * {
                border-radius: inherit;
                background-color: white;
            }
            core-toolbar {
                background-color: #03a9f4;
                color: #fff;
            }
            ::shadow core-toolbar {
                background-color: #03a9f4;
                color: #fff;
            }
            core-menu {
                color: #01579b;
                margin: 10px 0 0 0;
            }
            core-menu core-submenu::shadow core-item::shadow core-icon {
                order: 2;
            }
            core-menu core-submenu::shadow core-item::shadow #label {
                flex: 1;
            }
            core-menu > core-item,
            core-menu > core-submenu::shadow > core-item,
            core-menu > core-submenu > core-item{
                transition: all 300ms ease-in-out;
            }
            paper-fab {
                position: absolute;
                z-index: 1;
                bottom: -28px;
                right: 0px;
                background-color: #fcfcfc;
                color: #666464;
            }
            @media all and (max-width: 767px) {
                core-animated-pages {
                    width: 100%;
                    height: 100%;
                    border-radius: 0px;
                }
                .paper-shadow {
                    display: none;
                }
            }
        </style>

        <core-scaffold id="scaffold" responsiveWidth="767px">

            <nav>
                <core-toolbar>{{label}}</core-toolbar>
                <core-menu selected="{{activePage}}" valueattr="hash" on-core-select="{{onMenuItemSelected}}">
                    <template repeat="{{page in pages}}">
                        <template if="{{page.submenu}}">
                            <core-submenu selected="{{activeSubPage}}" valueattr="hash" hash="{{page.hash}}" label="{{page.name}}" icon="icons:expand-more">
                                <template repeat="{{sub in page.submenu}}">
                                    <core-item hash="{{sub.hash}}" label="{{sub.name}}"></core-item>
                                </template>
                            </core-submenu>
                        </template>
                        <template if="{{!page.submenu}}">
                            <core-item hash="{{page.hash}}" label="{{page.name}}"></core-item>
                        </template>
                    </template>
                </core-menu>
            </nav>

            <core-toolbar style="font-size: 20px;" tool flex>
                <div>{{selectedPageName}}</div>
                <paper-fab icon="apps" on-tap="{{onShowMenuTap}}"></paper-fab>
            </core-toolbar>

            <div layout horizontal center-center center-justified fit>
                <core-animated-pages selected="{{activeSubPage||activePage}}" valueattr="hash" transitions="slide-from-right">
                    <template repeat="{{page in pages}}">
                        <paper-shadow z="1" hash="{{page.hash}}" fit>
                            <load-element import="{{page.url}}" attrs="{{page.attributes}}" auto>Loading {{page.name}}...</load-element>
                        </paper-shadow>
                        <template if="{{page.submenu}}">
                            <template repeat="{{sub in page.submenu}}">
                                <paper-shadow z="1" hash="{{sub.hash}}" fit>
                                    <load-element import="{{sub.url}}" attrs="{{sub.attributes}}" auto>Loading {{sub.name}}...</load-element>
                                </paper-shadow>
                            </template>
                        </template>
                    </template>
                </core-animated-pages>
            </div>

        </core-scaffold>
    </template>
    <script>
        (function () {
            Polymer({
                attached: function () {
                    if (this.pages && this.pages.length) {
                        this.activatePage(this.pages[0].hash);
                    }
                },
                onMenuItemSelected: function (event, detail, source) {
                    if (detail.isSelected) {
                        this.route = detail.item.getAttribute("hash");
                        this.selectedPageName = detail.item.label;
                        this.$.scaffold.closeDrawer();
                    }
                },
                onShowMenuTap: function (event, detail, source) {
                    this.fire("show-menu");
                },
                activatePage: function (route) {
                    var selectedHash = route.split("/"), page, subPage;
                    if (selectedHash.length === 2) {
                        page = selectedHash[0] + "/" + selectedHash[1];
                        subPage = null;
                    } else if (selectedHash.length === 3) {
                        page = selectedHash[0] + "/" + selectedHash[1];
                        subPage = route;
                    }
                    if (this.activePage !== page) {
                        this.activePage = page;
                    }
                    if (this.activeSubPage !== subPage) {
                        this.activeSubPage = subPage;
                    }
                }
                //                routeChanged: function (event, detail, source) {
                //                    //console.log("id ", this.id, "\tdetail: ", detail, "\tactivePage: ", this.activePage, "no condition ", event);
                //                    var splittedPaths = detail.split("/");
                //                    if (splittedPaths.length === 1 && splittedPaths[0] === this.id && !this.activePage) {
                //                        console.log("id ", this.id, "\tdetail: ", detail, "\thash: ", this.pages[0].hash);
                //                        this.route = this.pages[0].hash;
                //                    } else if (splittedPaths.length === 2 && splittedPaths[0] === this.id) {
                //                        this.activePage = detail;
                //                        console.log("id ", this.id, "\tdetail: ", detail, "\tactivePage: ", this.activePage);
                //                    } else if (splittedPaths.length && splittedPaths[0] === this.id) {
                //                        console.log("id ", this.id, "\tdetail: ", detail, "\tactivePage: ", this.activePage, " going back");
                //                        history.back();
                //                    } else {
                //                        console.log("id ", this.id, "\tdetail: ", detail, "\tactivePage: ", this.activePage, "no condition ", event);
                //                    }
                //                },
                /*childRouteChanged: function (oldValue, newValue) {
                var splittedRoute;
                if (newValue && newValue.length) {
                    splittedRoute = newValue.split("/");
                    if (splittedRoute.length) {
                        this.route = splittedRoute[0];
                    } else {
                        this.route = 0;
                    }
                    if (splittedRoute.length > 1) {
                        this.remainingRoute = splittedRoute.splice(1, splittedRoute.length - 1);
                    } else {
                        this.remainingRoute = null;
                    }
                }
            },*/
            });
        })();
    </script>
</polymer-element>