<link rel="import" href="/resources/polymer/polymer/polymer.html">
<link rel="import" href="/resources/polymer/core-media-query/core-media-query.html">

<polymer-element name="tile-layout" attributes="whenDesktop whenTablet whenMobile">
    <template>
        <style>
            :host {
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }
            ::content > .tile {
                float: left;
                position: absolute;
            }
        </style>
        <core-media-query query="max-width: 767px" querymatches="{{mobileScreen}}" on-core-media-change="{{handleMobileScreen}}"></core-media-query>
        <core-media-query query="(min-width: 768px) and (max-width: 979px)" querymatches="{{tabletScreen}}" on-core-media-change="{{handleTabletScreen}}"></core-media-query>
        <core-media-query query="min-width: 980px" querymatches="{{desktopScreen}}" on-core-media-change="{{handleDesktopScreen}}"></core-media-query>
        <content id="items" select=".tile"></content>
    </template>
    <script>
        (function () {
            'use strict'
            // Set the layout for the given layout specification.
            var setLayout = function (layoutSpec) {
                    var layout = [],
                        componentIndex = 0,
                        layoutGrid = buildLayoutGrid(layoutSpec),
                        rows = layoutGrid.length,
                        cols = layoutGrid[0] && layoutGrid[0].length;
                    // Creating a data structure that corresponds to layout specification.
                    layoutSpec.forEach(function (rowElement) {
                        rowElement.forEach(function (colElement) {
                            layout.push(getComponentBoundingBox(componentIndex, layoutGrid));
                            componentIndex += 1;
                        });
                    });
                    this.$.items.getDistributedNodes().array().forEach(function (item, itemIndex) {
                        item.style.top = 100 * layout[itemIndex].y / rows + "%";
                        item.style.left = 100 * layout[itemIndex].x / cols + "%";
                        item.style.width = 100 * layout[itemIndex].width / cols + "%";
                        item.style.height = 100 * layout[itemIndex].height / rows + "%";
                    });
                },
                // Returns the component's bounding box in index units; Component for which bounding box must be calculated is specified with componentIndex.
                getComponentBoundingBox = function (componentIndex, layoutGrid) {
                    var rowIndex,
                        colIndex,
                        boundingBox = {};

                    for (rowIndex = 0; rowIndex < layoutGrid.length; rowIndex++) {
                        for (colIndex = 0; colIndex < layoutGrid[rowIndex].length; colIndex++) {
                            if (layoutGrid[rowIndex][colIndex].index === componentIndex) {
                                return {
                                    x: colIndex,
                                    y: rowIndex,
                                    width: calculateComponentWidth(componentIndex, layoutGrid, rowIndex, colIndex),
                                    height: calculateComponentHeight(componentIndex, layoutGrid, rowIndex, colIndex)
                                };
                            }
                        }
                    }
                },
                // Calculates the component width in index units.
                calculateComponentWidth = function (componentIndex, layoutGrid, row, col) {
                    var width = 0;
                    while (col < layoutGrid[row].length && layoutGrid[row][col].index === componentIndex) {
                        width += 1;
                        col += 1;
                    }
                    if (!width) {
                        throw {
                            msg: "The compoent at: " + componentIndex + " index has width equal to 0"
                        };
                    }
                    return width;
                },
                // Calculates the component height in index units;
                calculateComponentHeight = function (componentIndex, layoutGrid, row, col) {
                    var height = 0;
                    while (row < layoutGrid.length && layoutGrid[row][col].index === componentIndex) {
                        height += 1;
                        row += 1;
                    }
                    if (!height) {
                        throw {
                            msg: "The compoent at: " + componentIndex + " index has height equal to 0"
                        }
                    }
                    return height;
                },
                // Builds the grid (two dimensional array) that represents the given layoutSpec.
                buildLayoutGrid = function (layoutSpec) {
                    var layoutGrid = [],
                        rows = 0,
                        cols = 0,
                        rowIndex = 0,
                        colIndex = 0,
                        componentIndex = 0;
                    // Calculate the number of rows.
                    while (rowIndex < layoutSpec.length) {
                        rows += maxRowSpan(layoutSpec[rowIndex])
                        rowIndex = rows;
                    }
                    // Throw exception if the specified layout spec doesn't have rows.
                    if (rows === 0) {
                        throw {
                            msg: "The layout " + JSON.stringify(layoutSpec) + " must have at least one row!"
                        };
                    }
                    // Calculate the number of columns.
                    layoutSpec[0].forEach(function (colElement) {
                        if (colElement[0] && colElement[0].hasOwnProperty("colspan") && colElement[0].colspan > 1) {
                            cols += colElement[0].colspan;
                        } else {
                            cols += 1;
                        }
                    });
                    // Throw exception if the specified layout spec doesn't have columns.
                    if (cols === 0) {
                        throw {
                            msg: "The layout " + JSON.stringify(layoutSpec) + " must have at least one column!"
                        };
                    }
                    // Create the two dimensional array that represents the layout and fill it with object that has only one property named index equal to -1.
                    // That indicates the free grid cell.
                    for (rowIndex = 0; rowIndex < rows; rowIndex++) {
                        layoutGrid.push([]);
                        for (colIndex = 0; colIndex < cols; colIndex++) {
                            layoutGrid[rowIndex].push({
                                index: -1
                            });
                        }
                    }
                    // Fill the layout grid with component indexes. The component index in the layout grid will indicate the position of component and it's size.
                    layoutSpec.forEach(function (rowElement, rowInd) {
                        rowElement.forEach(function (colElement, colInd) {
                            var rowSpan = 1,
                                colSpan = 1,
                                elementPos = null;
                            if (colElement[0] && colElement[0].hasOwnProperty("rowspan") && colElement[0].rowspan > 1) {
                                rowSpan = colElement[0].rowspan;
                            }
                            if (colElement[0] && colElement[0].hasOwnProperty("colspan") && colElement[0].colspan > 1) {
                                colSpan = colElement[0].colspan;
                            }
                            elementPos = findFreePlace(layoutGrid);
                            if (elementPos) {
                                placeElementAt(componentIndex, layoutGrid, elementPos[0], elementPos[1], colSpan, rowSpan);
                            } else {
                                throw {
                                    msg: "There is no free pace for element at index: " + componentIndex
                                };
                            }
                            componentIndex += 1;
                        });
                    });

                    return layoutGrid;
                },
                // Place the element specifed with componentIdex into layoutGrid at row and col with specifed widht and height
                // Element is place in the layout grid when layout grid has cell or cells with the specified component index.
                placeElementAt = function (componentIndex, layoutGrid, row, col, width, height) {
                    var rowIndex,
                        colIndex;
                    for (rowIndex = row; rowIndex < row + height; rowIndex++) {
                        for (colIndex = col; colIndex < col + width; colIndex++) {
                            if (layoutGrid[rowIndex][colIndex].index !== -1) {
                                throw {
                                    msg: "The compoents with index " + componentIndex + " and " + layoutGrid[rowIndex][colIndex].index + " are overlapping"
                                }
                            } else {
                                layoutGrid[rowIndex][colIndex].index = componentIndex;
                            }
                        }
                    }
                },
                // Finds first free place in the layout grid. Free place - it is a cell in the two dimensional array that has object with index property equal to -1;
                // Returns the array of two elements. The first element - is a row index of the first free cell. The second element - is a column index of the first free cell.
                // If the layoutGrid doesn't have free place that it retirns null;
                findFreePlace = function (layoutGrid) {
                    var rowIndex = 0,
                        colIndex = 0;
                    for (rowIndex = 0; rowIndex < layoutGrid.length; rowIndex++) {
                        for (colIndex = 0; colIndex < layoutGrid[rowIndex].length; colIndex++) {
                            if (layoutGrid[rowIndex][colIndex].index === -1) {
                                return [rowIndex, colIndex];
                            }
                        }
                    }

                    return null;
                },
                // Returns the largest number of row span among specified columns. 
                maxRowSpan = function (cols) {
                    var rowSpan = 1;

                    cols.forEach(function (colElement) {
                        if (colElement[0] && colElement[0].hasOwnProperty("rowspan") && colElement[0].rowspan > rowSpan) {
                            rowSpan = colElement[0].rowspan;
                        }
                    });

                    return rowSpan;
                };

            Polymer({
                handleMobileScreen: function (e) {
                    if (e.detail.matches && this.whenMobile) {
                        setLayout.bind(this)(this.whenMobile);
                    }
                },
                handleTabletScreen: function (e) {
                   if (e.detail.matches && this.whenTablet) {
                       setLayout.bind(this)(this.whenTablet);
                   }
                },
                handleDesktopScreen: function (e) {
                    if (e.detail.matches && this.whenDesktop) {
                        setLayout.bind(this)(this.whenDesktop);
                    }
                }
            });
        })()
    </script>
</polymer-element>