<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC  
   "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"  
   "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<display-name>Test servlet</display-name>

	<context-param>
		<param-name>org.restlet.component</param-name>
		<param-value>ua.com.fielden.web.server.WebComponent</param-value>
	</context-param>

	<context-param>
		<param-name>org.restlet.autoWire</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- Restlet adapter -->
	<servlet>
		<servlet-name>ServerServlet</servlet-name>
		<servlet-class>com.noelios.restlet.ext.servlet.ServerServlet</servlet-class>
	</servlet>

	<!-- Catch all requests -->
	<servlet-mapping>
		<servlet-name>ServerServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>  
