<link rel="import" href="/resources/polymer/polymer/polymer.html">

<link rel="import" href="/resources/components/tree-table/tg-hierarchy-tree-table-cell.html">
<link rel="import" href="/resources/components/tree-table/tg-tree-table-data-cell.html">

<dom-module id="tg-tree-table-cell">
    <template>
        <template is="dom-if" if="[[_isHierarchyColumn(column)]]">
            <tg-hierarchy-tree-table-cell column="[[column]]" entity="[[entity]]"></tg-hierarchy-tree-table-cell>
        </template>
        <template is="dom-if" if="[[!_isHierarchyColumn(column)]]">
            <tg-tree-table-data-cell column="[[column]]" entity="[[entity.entity]]"></tg-tree-table-data-cell>
        </template>
    </template>
</dom-module>
<script>
    (function () {
        Polymer({

            is: "tg-tree-table-cell",

            properties: {
                column: Object,
                entity: Object
            },

            _isHierarchyColumn: function(column) {
                return column.isHierarchyProperty();
            }
        });
    })();
</script>