<link rel="import" href="/resources/polymer/polymer/polymer.html">

<dom-module id="tg-tree-table-property-column">
    <script>
        (function () {
            Polymer({

                is: "tg-tree-table-property-column",

                properties: {
                    property: String,
                    visible: Boolean,
                    childrenProperty: String,
                    parentProperty: String,
                    tooltipProperty: String,
                    type: String,
                    width: Number,
                    minWidth: Number,
                    growFactor: Number,
                    columnTitle: String,
                    columnDesc: String,
                    check: Function
                },

                hostAttributes: {
                    hidden: true
                },

                isHierarchyProperty: function () {
                    return this.childrenProperty && this.parentProperty;
                }
            });
        })();
    </script>
</dom-module>
