:host {
	@apply(--layout-horizontal);
	@apply(--layout-end);
}

.dialog-configs {
	@apply(--layout-vertical);
}

html /deep/ .meta-value-editor paper-checkbox::shadow #checkbox.checked {
    background-color: #0288D1;
    border-color: #0288D1;
}

html /deep/ .meta-value-editor paper-checkbox {
	margin-bottom: 20px;
}

html /deep/ .meta-value-editor tg-accordion {
	margin-bottom: 20px;
}

html /deep/ .meta-value-editor paper-radio-button::shadow #onRadio {
    background-color: #0288D1;
}

html /deep/ .meta-value-editor paper-radio-button[checked]::shadow #offRadio {
    border-color: #0288D1;
}

html /deep/ .meta-value-editor paper-radio-button::shadow #ink[checked] {
  color: #0288D1;
}

html /deep/ .meta-value-editor paper-radio-button {
	margin: 10px;
}