<!DOCTYPE html>
<html>

<head>
    <title>Accordion example</title>
    <script src="/resources/polymer/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="/resources/polymer/paper-styles/paper-styles-classes.html">
    <link rel="import" href="tg-accordion-group.html">
    <style>
        body {
            font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 10pt;
        }
    </style>
</head>

<body unresolved class="fullbleed">
    <template id="app" is="dom-bind">
        <tg-accordion-group single-open>
            <tg-accordion dont-close-on-tap heading="Test 1" opened>
                <div>Test 1 Test 1 Test 1</div>
                <div>Test 1 Test 1 Test 1</div>
            </tg-accordion>
            <tg-accordion dont-close-on-tap heading="Test 2">
                <div>Test 2 Test 2 Test 2</div>
                <div>Test 2 Test 2 Test 2</div>
            </tg-accordion>
            <tg-accordion dont-close-on-tap heading="Test 3">
                <div>Test 3 Test 3 Test 3</div>
                <div>Test 3 Test 3 Test 3</div>
            </tg-accordion>
        </tg-accordion-group>
    </template>
</body>
<script>
    var app = document.querySelector("#app");
</script>

</html>