<link rel="import" href="/resources/polymer/polymer/polymer.html">
<link rel="import" href="/resources/polymer/core-icon/core-icon.html">
<link rel="import" href="/resources/polymer/core-collapse/core-collapse.html">

<polymer-element name="accordion-element" attributes="heading">
    <template>
        <style>
            :host {
                position: relative;
                display: block;
            }
            .panel {
                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: 6px;
                overflow: hidden;
            }
            .heading {
                background-color: #f5f5f5;
                border-color: #ddd;
                padding: 6px 15px;
            }
            a {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 16px;
                color: #333;
                cursor: pointer;
            }
            a:hover {
                text-decoration: underline;
            }
            core-collapse {
                border-top: 1px solid #ddd;
            }
            core-icon{
                cursor: pointer;
            }
        </style>

        <div class="panel" layout vertical>
            <div class="heading" horizontal layout center justified>
                <a on-click="{{toggle}}">{{heading}}</a>
                <core-icon icon="icons:{{$.collapse.opened ? 'expand-less' : 'expand-more'}}" on-click="{{toggle}}"></core-icon>
            </div>
            <core-collapse opened id="collapse">
                <content></content>
            </core-collapse>

        </div>
    </template>
    <script>
        Polymer({
            toggle: function () {
                this.$.collapse.toggle();
            },
        });
    </script>
</polymer-element>