<!DOCTYPE html>
<html>

<head>
    <title>calendar example</title>
    <script src="/resources/polymer/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="/resources/polymer/paper-styles/paper-styles-classes.html">
    <link rel="import" href="tg-calendar.html">
    <style>
        body {
            font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 10pt;
        }
    </style>
</head>

<body unresolved class="fullbleed">
    <template id="app" is="dom-bind">
        <tg-calendar pick-time selected-date="{{selectedDate}}" selected-hour="{{selectedHour}}" selected-minute="{{selectedMinute}}"></tg-calendar>
        <span>[[selectedDate]]</span> <span>[[selectedHour]]</span> <span>[[selectedMinute]]</span>
    </template>
</body>
<script>
    var app = document.querySelector("#app");
</script>

</html>