<link rel="import" href="/resources/polymer/polymer/polymer.html">
<link rel="import" href="/resources/polymer/paper-input/paper-input.html">
<link rel="import" href="/resources/components/property-editor.html">

<polymer-element name="criteria-editor" attributes="config bindTo">
    <script>
        (function () {
            var createSingleEditor = function (configuration, bindToEntity, propertyName) {
                    var stringElement = document.createElement("property-editor");
                    stringElement.config = configuration;
                    stringElement.bindTo = bindToEntity;
                    stringElement.propertyName = propertyName;
                    return setSingleElementStyles(stringElement);
                },
                setSingleElementStyles = function (element) {
                    element.setAttribute('fit', true);
                    element.grow = true;
                    element.style.margin = "5px";
                     element.style.padding = "5px";
                    element.style.boxSizing = "border-box";
                    return element;
                },
                createDoubleEditor = function () {
                    var entityElement = document.createElement("property-editor");
                };
            Polymer({
                attached: function () {
                    switch (this.bindTo.propType) {
                    case "String":
                    case "Entity":
                    case "Integer":
                    case "Date":
                        this.appendChild(createSingleEditor(this.config, this.bindTo, "value1"));
                        break;
                    }
                },
            });
        })();
    </script>
</polymer-element>