<link rel="import" href="/resources/polymer/polymer/polymer.html">

<polymer-element name="entity-grid-inspector" attributes="columns data">
    <template>
        <style>
            table {
                border-radius: 6px;
                border-spacing: 0;
                background-color: transparent;
                width: 100%;
                max-width: 100%;
                border: 1px solid #ddd;
                overflow: hidden;
            }
            td,
            th {
                padding: 8px;
                line-height: 1.42857143;
                vertical-align: top;
            }
            tr:not(:last-of-type) > th, tr:not(:last-of-type) > td {
                border-bottom: 1px solid #ddd;
            }
            th:not(:last-of-type), td:not(:last-of-type) {
                border-right: 1px solid #ddd;
            }
            th {
                text-align: left;
            }
            tr:nth-of-type(odd) {
                background-color: #f9f9f9;
            }
        </style>
        <table>
            <tbody>
                <tr>
                    <template repeat="{{column in columns}}">
                        <th>{{column.title}}</th>
                    </template>
                </tr>
                <template repeat="{{entity in data}}">
                    <tr>
                        <template repeat="{{prop in columns}}">
                            <td>{{getValueForEntityGrid(entity, prop)}}</td>
                        </template>
                    </tr>
                </template>
            </tbody>
        </table>
    </template>
    <script>
        Polymer({
            getValueForEntityGrid: function (entity, prop) {
                var concatWithDot = function (str1, str2) {
                        return str1 && str2 ? str1 + "." + str2 : str1 || str2;
                    },
                    get = function (obj, str) {
                        return str.split(".").reduce(function (o, x) {
                            return o[x]
                        }, obj);
                    };
                if (prop.type == "Entity") {
                    return get(entity, concatWithDot(prop.propertyName, "key"));
                }
                return get(entity, prop.propertyName);
            },

        });
    </script>
</polymer-element>