<link rel="import" href="/resources/polymer/polymer/polymer.html">
<link rel="import" href="tg-scroll-container.html">
<link rel="import" href="component-with-sticky-panel-example.html">
<link rel="import" href="/resources/polymer/core-toolbar/core-toolbar.html">
<link rel="import" href="/resources/polymer/core-icons/core-icons.html">
<link rel="import" href="/resources/polymer/paper-fab/paper-fab.html">
<link rel="import" href="/resources/polymer/core-animation/core-animation-group.html">

<!-- The scrolling container.-->
<polymer-element name="scroll-with-header-example">
    <template>
        <style>
            core-toolbar {
                height: 100px;
                background-color: #0288D1;
                color: white;
                font-size: 18px;
                transition: top 100ms linear;
            }
            .toolbar-visible {
                top: 0;
            }
            .toolbar-hidden {
                top: -100px;
            }
            core-toolbar::shadow #topBar {
                height: 100px;
            }
            paper-fab {
                z-index: 1;
                background-color: #fcfcfc;
                color: #666464;
            }
            .scroll-panel {
                position: absolute;
                transition: top 100ms linear;
                right: 0;
                bottom: 0;
                left: 0;
            }
            .scroll-panel-full {
                top: 0;
            }
            .scroll-panel-short {
                top: 100px;
            }
        </style>


        <core-toolbar class="{{ {'toolbar-visible' : !toolbarHidden, 'toolbar-hidden': toolbarHidden} | tokenList }}">
            <div flex>Scroll header example</div>
            <paper-fab icon="apps"></paper-fab>
        </core-toolbar>

        <component-with-sticky-panel-example></component-with-sticky-panel-example>
    </template>
    <script>
        (function () {
            Polymer({
                toolbarHidden: false,

                handleScroll: function (e) {
                    if (e.target.scrollTop === 0) {
                        this.toolbarHidden = false;
                    } else if (!this.toolbarHidden) {
                        this.toolbarHidden = true;
                    }
                }
            })
        })();
    </script>
</polymer-element>