<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>Scroll panel example</title>
    <script src="/resources/polymer/webcomponentsjs/webcomponents.js"></script>
    <link rel="import" href="scroll-with-header-example.html">
    <link rel="import" href="/resources/polymer/font-roboto/roboto.html">

    <style>
        body {
            font-family: "RobotoDraft";
            font-size: 10pt;
        }
    </style>

    <body unresolved fullbleed>
        <scroll-with-header-example></scroll-with-header-example>
    </body>

</html>