<!DOCTYPE html>
<html lang="en">

<head>
    <title>scroll shadow example</title>
    <script src='/resources/polymer/@webcomponents/webcomponentsjs/webcomponents-bundle.js'></script>
    <script type="module">
        import './tg-scrollable-component-example.js';
    </script>
    <style>
        html {
            overflow: hidden;
        }
        body {
            font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 10pt;
        }
    </style>
</head>

<body unresolved class="fullbleed">
    <tg-scrollable-component-example></tg-scrollable-component-example>
</body>

</html>
