<link rel="import" href="/resources/polymer/polymer/polymer.html">
<link rel="import" href="/resources/components/tg-accordion.html">

<dom-module id="tg-accordion-group">
    <template>
        <content id="accordions" select="tg-accordion"></content>
    </template>
</dom-module>
<script>
    Polymer({

        is: "tg-accordion-group",

        properties: {
            singleOpen: {
                type: Boolean,
                reflectToAttribute: true,
                value: false
            }
        },

        attached: function () {
            var self = this;
            this.async(function () {
                self.accordions = [];
                Array.prototype.forEach.call(Polymer.dom(self.$.accordions).getDistributedNodes(), function (item) {
                    this.accordions.push(item);
                    item.addEventListener("accordion-toggled", function (e) {
                        if (this.singleOpen) {
                            if (e.detail) {
                                this.accordions.forEach(function (accordion) {
                                    var target = e.target || e.srcElement;
                                    if (accordion !== target) {
                                        accordion.opened = false;
                                    }
                                });
                            }
                        }
                    }.bind(self));
                }.bind(self));
            }, 1);
        },
    });
</script>