<link rel="import" href="/resources/polymer/polymer/polymer.html">

<link rel="import" href="/app/tg-reflector.html">

<link rel="import" href="/resources/polymer/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/resources/polymer/iron-resizable-behavior/iron-resizable-behavior.html">

<link rel="import" href="/resources/components/tg-bar-chart.html">

<dom-module id="tg-chart-decker">
    <template>
        <style>
        </style>
        <content id="action-selector" hidden></content>
        <template is="dom-repeat" items="[[chartOptions]]" as="options">
            <tg-bar-chart data="[[entities]]" options="[[options]]"></tg-bar-chart>
        </template>
    </template>
    <script>
        (function () {
            // element registration
            Polymer({
                is: "tg-chart-decker",

                // add properties and methods on the element's prototype

                properties: {
                    // Declare properties for the element's public API
                    entities: {
                        type: Array,
                        observer: "_entitiesChanged"
                    },

                    options: {
                        type: Object,
                        observer: "_chartOptionsChanged"
                    },

                    _actions: Array
                },

                behaviors: [Polymer.IronResizableBehavior],

                ready: function () {

                },

                _entitiesChanged: function (newEntities, oldEntities) {},

                _chartOptionsChanged: function (newOptions, oldOptions) {
                    if (newOptions) {
                        newOptions.forEach(options => {
                            if (options.dataPropertyNames) {
                                this._updataDataPropertyNames(options.dataPropertyNames);
                            }
                        })
                    }
                },
                
                _updataDataPropertyNames: function (dataPropertyNames) {
                    if (dataPropertyNames.groupKeyProp) {
                        dataPropertyNames.groupKeyProp = this._groupProperty(dataPropertyNames.groupKeyProp);
                    }
                },
                
                _groupProperty: function (propertyName) {
                    return function (entity, value) {
                        if (!value) {
                            return entity.get(propertyName);
                        } else {
                            return entity.set(propertyName, value);
                        }
                    }.bind(this);
                }
            });
        })();
    </script>
</dom-module>