<link rel="import" href="/resources/polymer/polymer/polymer.html">

<link rel="import" href="/resources/polymer/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/resources/polymer/iron-resizable-behavior/iron-resizable-behavior.html">

<dom-module id="tg-cross-line">

    <template>
        <style>
           
        </style>

        <!-- local DOM for your element -->
        <svg id="line">
            <line x1="0" y1="0" x2$="[[_width]]" y2$="[[_height]]" style="stroke:rgb(255,0,0);stroke-width:2" />
        </svg>
        <!-- data bindings in local DOM -->
    </template>

    <script>
        (function () {
            // element registration
            Polymer({
                is: "tg-cross-line",

                // add properties and methods on the element's prototype

                properties: {
                    
                    _width: Number,
                    
                    _hight: Number
                },

                behaviors: [Polymer.IronResizableBehavior],

                ready: function () {
                    this.addEventListener("iron-resize", this._resizeEventListener.bind(this));
                },

                _resizeEventListener: function (event, details) {
                    var self = this;
                    if (this._chart) {
                        this._chart.options({
                            width: self.offsetWidth,
                            height: self.offsetHeight
                        });
                    }
                }
            });
        })();
    </script>

</dom-module>