<link rel="import" href="/resources/polymer/polymer/polymer.html">
<link rel="import" href="/resources/components/moment-component.html">
<link rel="import" href="/resources/polymer/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/resources/polymer/iron-icons/iron-icons.html">
<link rel="import" href="/resources/polymer/iron-media-query/iron-media-query.html">
<link rel="import" href="/resources/components/tg-month-selector.html">
<link rel="import" href="/resources/components/tg-number-selector.html">
<link rel="import" href="/app/tg-app-config.html">
<link rel="import" href="/resources/polymer/neon-animation/neon-animated-pages.html">
<link rel="import" href="/resources/polymer/neon-animation/neon-animation.html">


<dom-module id="tg-calendar">
    <style>
        .col {
            width: 14em;
        }
        .day-name {
            background-color: #0288D1;
            color: white;
        }
        .header {
            height: 2.2em;
            font-size: 14px;
        }
        .selected-date {
            background-color: #03A9F4;
            color: white !important;
        }
        .selected-month {
            font-size: 24px;
            cursor: pointer;
        }
        .selected-day {
            font-size: 56px;
            cursor: pointer;
        }
        .selected-year {
            font-size: 24px;
            color: #81D4FA;
            cursor: pointer;
        }
        .time-picker {
            background-color: #03A9F4;
            color: white;
            padding-bottom: 16px;
        }
        .time {
            font-size: 18px;
            height: 18px;
            margin: 0 1px;
            cursor: pointer;
        }
    </style>
    <template>
        <tg-app-config id="appConfig"></tg-app-config>
        <iron-media-query query="[[_calcMobileQuery()]]" query-matches="{{_phoneScreen}}"></iron-media-query>
        <div class$="[[_calcCalendarLayout(_phoneScreen)]]">
            <div class="col layout vertical">
                <div class="header day-name layout vertical center-center">[[dayName]]</div>
                <div class="selected-date layout vertical center justified" style="padding: 10px;">
                    <div class="selected-month" on-tap="_showMonthSelector">[[monthName]]</div>
                    <div class="selected-day" on-tap="_showDefaultPage">[[day]]</div>
                    <div class="selected-year" on-tap="_showYearSelector">[[year]]</div>
                </div>
                <template is="dom-if" if="[[pickTime]]">
                    <div class="time-picker layout horizontal center-center">
                        <div class="time" on-tap="_showHourSelector">[[_formatHours(selectedHour, showMeridian)]]</div>
                        <div class="time">:</div>
                        <div class="time" on-tap="_showMinuteSelector">[[_formatMinute(selectedMinute)]]</div>
                        <div class="time" on-tap="_changeMeridan" hidden$="[[!showMeridian]]">[[meridian]]</div>
                    </div>
                </template>
            </div>
            <div class="col relative">
                <neon-animated-pages class="fit" id="pages" selected=[[_selectedPage]] attr-for-selected="page-name" entry-animation="fade-in-animation" exit-animation="fade-out-animation" on-neon-animation-finish="_onPageChange">
                    <tg-month-selector id="defaultPage" page-name="defaultPage" selected-date="{{selectedDate}}"></tg-month-selector>
                    <tg-number-selector page-name="yearSelector" selected-number="{{selectedYear}}" on-number-selected="_showDefaultPage"></tg-number-selector>
                    <tg-number-selector page-name="monthSelector" selected-number="{{selectedMonth}}" lower-bound="0" upper-bound="11" formatter="[[formatMonth]]" on-number-selected="_showDefaultPage"></tg-number-selector>
                    <tg-number-selector page-name="hourSelector" selected-number="{{selectedHour}}" lower-bound="[[_getHourLowerBound(showMeridian)]]" upper-bound="[[_getHourUpperBound(showMeridian)]]" on-number-selected="_showDefaultPage"></tg-number-selector>
                    <tg-number-selector page-name="minuteSelector" selected-number="{{selectedMinute}}" lower-bound="0" upper-bound="59" on-number-selected="_showDefaultPage"></tg-number-selector>
                </neon-animated-pages>
            </div>
        </div>
    </template>
</dom-module>
<script>
    (function () {
        var meridians = ["AM", "PM"];
        var zeroPad = function (str, num) {
            str = (str && str.toString()) || "";
            return str.length < num ? zeroPad("0" + str, num) : str;
        };
        Polymer({

            is: "tg-calendar",

            properties: {
                selectedDate: {
                    type: Number,
                    notify: true,
                    observer: "_selectedDateChanged"
                },
                selectedYear: {
                    type: Number,
                    observer: "_selectedYearChanged"
                },
                selectedMonth: {
                    type: Number,
                    observer: "_selectedMonthChanged"
                },
                selectedHour: {
                    type: Number,
                    notify: true
                },
                selectedMinute: {
                    type: Number,
                    notify: true
                },
                pickTime: {
                    type: Boolean,
                    reflectToAttribute: true,
                    value: false
                },
                meridian: {
                    type: String,
                    notify: true,
                    value: "AM"
                },
                showMeridian: {
                    type: Boolean,
                    value: moment.localeData().longDateFormat("LT").toLowerCase().indexOf("a") >= 0
                },
                _months: Array
            },

            ready: function () {
                this._selectedPage = 'defaultPage';
                this.formatMonth = (function(monthNumber) {
                    return this._months[monthNumber];
                }).bind(this);
                this._months = moment.monthsShort();
            },


            attached: function () {
                var shownDate = (this.selectedDate && new Date(this.selectedDate)) || new Date();
                this._adjustDate(shownDate);
            },

            /**
             * Updates the calendar information according to specified date.
             */
            _adjustDate: function (date) {
                this.dayName = moment(date).format("dddd");
                this.monthName = moment(date).format("MMM").toUpperCase();
                this.day = date.getDate();
                this.year = date.getFullYear();
                this.selectedYear = date.getFullYear();
                this.selectedMonth = date.getMonth();
            },

            /**
             * Listens when year was changed and updates calendar.
             */
            _selectedYearChanged: function (newValue, oldValue) {
                this.$.defaultPage._selectYear(newValue);
            },
            
            /**
             * Listens when month was changed and updates calendar.
             */
            _selectedMonthChanged: function (newValue, oldValue) {
                this.$.defaultPage._selectMonth(newValue);
            },

            /**
             * Listens when the selected date changes.
             */
            _selectedDateChanged: function (newValue, oldValue) {
                if (newValue !== null) {
                    var newDate = new Date(newValue);
                    this._adjustDate(newDate);
                }
            },

            _showYearSelector: function () {
                this._selectedPage = "yearSelector";
            },
            
            _showMonthSelector: function () {
                this._selectedPage = "monthSelector";
            },

            _showDefaultPage: function () {
                this._selectedPage = "defaultPage";
            },

            _showHourSelector: function () {
                this._selectedPage = "hourSelector";
            },

            _showMinuteSelector: function () {
                this._selectedPage = "minuteSelector";
            },

            _changeMeridan: function () {
                var indexOfMeridian = meridians.indexOf(this.meridian);
                this.meridian = meridians[indexOfMeridian ? 0 : 1];
            },

            /**
             * Calculates the media query for mobile devices.
             */
            _calcMobileQuery: function () {
                return "max-width: " + (this.$.appConfig.minTabletWidth - 1) + "px";
            },

            /**
             * Calculates the calendar layout depending on phoneScreen.
             */
            _calcCalendarLayout: function (phoneScreen) {
                return "layout " + (phoneScreen ? "vertical" : "horizontal");
            },

            _onPageChange: function (e, detail) {
                if (detail.toPage.getAttribute('page-name') !== 'defaultPage' && typeof detail.toPage._resize === 'function') {
                    detail.toPage._resize();
                }
            },

            _formatHours: function (value, showMeridian) {
                if (showMeridian) {
                    return zeroPad(value % 12 === 0 ? 12 : value % 12, 2);
                } else {
                    return zeroPad(value, 2);
                }
            },

            _getHourLowerBound: function (showMeridian) {
                return showMeridian ? 1 : 0;
            },

            _getHourUpperBound: function (showMeridian) {
                return showMeridian ? 12 : 23;
            },

            _formatMinute: function (value) {
                return zeroPad(value, 2);
            },
        });
    })();
</script>