<link rel="import" href="/resources/polymer/polymer/polymer.html">

<link rel="import" href="/resources/components/tg-drop-to-behavior.html">
<link rel="import" href="/resources/reflection/tg-polymer-utils.html">

<dom-module id="tg-drop-to-component-example">
    <template>
        <style>
            .drop-to-rect {
                width: 100px;
                height: 50px;
                background-color: red;
            }
        </style>
        <div class="drop-to-rect layout vertical center-center" on-drop="dropTo" on-dragover="canDropTo">
            <div>[[data.name]]</div>
            <div>[[data.value]]</div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'tg-drop-to-component-example',

            behaviors: [Polymer.TgBehaviors.TgDropToBehavior],

            properties: {
                data: {
                    type: Object
                }
            },

            ready: function () {
                this.data = {
                    name: "drop-to",
                    value: 10
                };
            },

            canDropTo: function (e) {
                if (this.canDropType(e.dataTransfer.types, "text/plain")) {
                    e.dataTransfer.dropEffect = "copy";
                    tearDownEvent(e);
                }
            },

            dropTo: function (e) {
                this.data = JSON.parse(e.dataTransfer.getData("text/plain"));
                tearDownEvent(e);
            }
        })
    </script>
</dom-module>
