<link rel="import" href="/resources/polymer/polymer/polymer.html">
<link rel="import" href="/resources/reflection/tg-polymer-utils.html">

<script>
    (function () {

        Polymer.TgBehaviors = Polymer.TgBehaviors || {};
        Polymer.TgBehaviors.TgDropToBehavior = {

            canDropType: function (types, type) {
                for (var i = 0; i < types.length; ++i) {
                    if (types[i] === type) return true;
                }
                return false;
            },

            canDropTo: function (e) {
                return false;
            },

            dropTo: function (e) {}
        };
    })();
</script>