<link rel="import" href="/resources/polymer/polymer/polymer.html">
<link rel="import" href="/resources/polymer/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/resources/polymer/iron-icons/iron-icons.html">
<link rel="import" href="/resources/polymer/paper-styles/paper-styles.html">

<dom-module id="tg-message-panel">
    <style>
        :host {
            padding: 8px;
            @apply(--layout-horizontal);
            @apply(--layout-center);
            @apply(--layout-justified);
        }
        .mesage-panel {
            font-size: 16px;
            color: var(--paper-grey-600);
        }
        .close-button {
            width: 22px;
            height: 22px;
            padding: 0px;
            --paper-icon-button: {
                color: var(--paper-grey-600);
            };
            --paper-icon-button-disabled: {
                color: var(--paper-grey-400);
            };
            --paper-icon-button-hover: {
                color: var(--paper-grey-400);
            };
        }
    </style>
    <template>
        <div class="mesage-panel flex layout horizontal center-center">[[messageText]]</div>
        <paper-icon-button hidden="[[_closerHidden(_lastAction, mobile)]]" class="close-button" icon="icons:cancel"  on-tap="_closeMessage" tooltip-text="Close Message"></paper-icon-button>
    </template>
</dom-module>
<script>
    (function () {
        
        const isMobile = {
            Windows: function() {
                return /IEMobile/i.test(navigator.userAgent);
            },
            Android: function() {
                return /Android/i.test(navigator.userAgent);
            },
            BlackBerry: function() {
                return /BlackBerry/i.test(navigator.userAgent);
            },
            iOS: function() {
                return /iPhone|iPad|iPod/i.test(navigator.userAgent);
            },
            any: function() {
                return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Windows());
            }
        };
        
        const isDesktop = {
            // Opera 8.0+
            isOpera: function () {
                return (!!window.opr && !!opr.addons) || !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
            },

            // Firefox 1.0+
            isFirefox: function () {
                return typeof InstallTrigger !== 'undefined';
            },

            // Safari 3.0+ "[object HTMLElementConstructor]" 
            isSafari: function () { 
                return /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || (typeof safari !== 'undefined' && safari.pushNotification));
            },

            // Internet Explorer 6-11
            isIE: function () {
                return /*@cc_on!@*/false || !!document.documentMode;
            },

            // Edge 20+
            isEdge: function () {
                return !isIE && !!window.StyleMedia;
            },

            // Chrome 1+
            isChrome: function () {
                return !!window.chrome && !!window.chrome.webstore;
            },

            // Blink engine detection
            isBlink: function () {
                return (isChrome || isOpera) && !!window.CSS;
            },
            
            any: function() {
                return (isDesktop.isOpera() || isDesktop.isFirefox() || isDesktop.isSafari() || isDesktop.isIE() || isDesktop.isEdge() || isDesktop.isChrome() || isDesktop.isBlink());
            }
        }
       

        Polymer({

            is: "tg-message-panel",

            properties: {
                isRecomendedClient: {
                    type: Boolean,
                },
                
                closed: {
                    type: Boolean,
                },
                
                messageText: {
                    type: String
                }
            },
            
            observers: ["_shoudDisplayMsg(isRecomendedClient, closed)"],

            ready: function () {
                const isSafari = /constructor/i.test(window.HTMLElement) || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || (typeof safari !== 'undefined' && safari.pushNotification));
                const isChrome = !!window.chrome && !!window.chrome.webstore;
                this.isRecomendedClient = isMobile.any() || isSafari || isChrome;
                this.closed = this.isRecomendedClient;
                if (!this.isRecomendedClient) {
                    if (isDesktop.isIE()) {
                        this.messageText = "Application can not be opened in Internet Explorer. Chrome or Edge must be used.";
                        this.style.backgroundColor = "#FF8A80";
                    } else {
                        this.messageText = "Chrome is recomended for this application.";
                        this.style.backgroundColor = "#FFFF8D";
                    }
                }
            },
            
            _closeMessage: function (e) {
                this.closed = true;
            },
            
            _shoudDisplayMsg: function (isRecomendedClient, closed) {
                if (isRecomendedClient || closed) {
                    this.setAttribute("hidden", true);
                } else {
                    this.removeAttribute("hidden");
                }
            }
            
        });
    })();
</script>