<link rel="import" href="/resources/polymer/polymer/polymer.html">

<link rel="import" href="/resources/polymer/paper-input/paper-input-container.html">
<link rel="import" href="/resources/polymer/iron-input/iron-input.html">
<link rel="import" href="/resources/polymer/iron-icon/iron-icon.html">
<link rel="import" href="/resources/polymer/iron-icons/iron-icons.html">
<link rel="import" href="/resources/polymer/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="/resources/polymer/paper-styles/color.html">

<link rel="import" href="/resources/components/tg-menu-list.html">


<dom-module id="tg-menu-search-input">

    <style>
        iron-icon {
            cursor: pointer;
            color: var(--menu-search-icon-color);
        }
        paper-input-container.start-transtion {
            width: 0;
        }
        paper-input-container {
            width: 300px;
            transition: width 200ms linear;
            --paper-input-container-color: var(--menu-search-input-color);
            --paper-input-container-focus-color: var(--menu-search-input-color);
            --paper-input-container-input-color: var(--menu-search-input-color);
        }
    </style>

    <template>
        <iron-icon id="searchIcon" icon="icons:search" on-tap="_searchMenu"></iron-icon>
        <paper-input-container id="inputContainer" no-label-float style="display:none;" on-transitionend="_inputShown">
            <input id="input" is="iron-input" type="text" bind-value="{{_menuToSearch}}" on-blur="_onBlur" on-focus="_onFocus" on-keydown="_inputKeyDown">
        </paper-input-container>
        <tg-menu-list id="menuList" menu="[[menu]]" phrase-to-highlight="[[_menuToSearch]]" retrieve-container-sizes="[[_retrieveContainerSizes]]" on-iron-overlay-closed="_menuListClosed" on-tap="_menuTapped"></tg-menu-list>
    </template>

</dom-module>

<script>
    (function () {
        Polymer({
            is: 'tg-menu-search-input',

            properties: {
                /**
                 * The menu to flatten. This menu should contain 'key' and 'desc' proprties key for title and desc for description of menu item also
                 */
                menu: Array,

                cancelled: {
                    type: Boolean,
                    readOnly: true,
                    value: true
                },

                ////////////////////private members that starts with undescore sign '_' shouldn't be modified from outside of this component////////////////////////

                /**
                 * The function that retrives boundClientRect and offsetHeight from wrapping decorator (paper-input-container).
                 */
                _retrieveContainerSizes: {
                    type: Function
                }
            },

            ready: function () {
                this._retrieveContainerSizes = function () {
                    var container = this.$.inputContainer;
                    return [container.getBoundingClientRect(), container.offsetHeight];
                }.bind(this);
            },

            _onFocus: function () {
                var self = this;
                var menuList = self.$.menuList;

                // There is a need to check whether element already exists before appending it to document.body.
                // Under Microsoft Edge appending the same element more than once blows up with exception HierarchyRequestError.
                var elementExists = Polymer.dom(document.body).querySelector("#menuList");
                if (!elementExists) {
                    Polymer.dom(document.body).appendChild(menuList);
                    Polymer.dom.flush();
                }
                var self = this;
                this.async(function () {
                    if (!menuList.opened) {
                        menuList.clearSelection();
                        self._setCancelled(true);
                        menuList.open();
                    }
                    menuList.notifyResize();
                });
            },

            _onBlur: function (e) {
                var menuList = this.$.menuList;
                // check whether relatedTarget has anything to do with this.$.menuList
                // if it is then there is no need to cancel the overlay, which is this.$.menuList
                var parent = e.relatedTarget;
                while (parent && parent !== menuList) {
                    parent = parent.parentElement;
                }
                if (menuList.opened && parent !== menuList) {
                    menuList.close();
                }
            },

            _menuTapped: function () {
                this._setCancelled(false);
                menuList.close();
            },

            _menuListClosed: function () {
                var menuList = this.$.menuList;
                var elementExists = Polymer.dom(document.body).querySelector("#menuList");
                if (elementExists) {
                    Polymer.dom(document.body).removeChild(menuList);
                    Polymer.dom.flush();
                }
                this._toggleInputVisibility(false);
                if (!this.cancelled && menuList.isSelected()) {
                    this.fire("menu-item-selected", menuList.getSelectedMenuItemPath());
                }
            },

            _searchMenu: function () {
                this._toggleInputVisibility(true);
            },

            _toggleInputVisibility: function (inputVisible) {
                if (inputVisible) {
                    this.$.searchIcon.style.display = 'none';
                    this.$.inputContainer.classList.toggle('start-transtion', true);
                    this.$.inputContainer.style.removeProperty('display');
                    window.getComputedStyle(this.$.input).width;
                    this.$.inputContainer.classList.toggle('start-transtion', false);
                } else {
                    this.$.searchIcon.style.removeProperty('display');
                    this.$.inputContainer.style.display = 'none';
                }
            },

            _inputShown: function (e) {
                var target = e.target || e.srcElement;
                if (target === this.$.inputContainer) {
                    this.$.input.focus();
                }
            },

            _inputKeyDown: function (event) {
                var menuList = this.$.menuList;
                if (event.keyCode === 13 && menuList.opened) { // 'Enter' has been pressed
                    this._setCancelled(false);
                    this.$.input.blur();
                } else if (event.keyCode === 27 && menuList.opened) {
                    this.$.input.blur();
                } else if (event.keyCode === 38 || event.keyCode === 40) { // up/down arrow keys
                    // By devault up/down arrow keys work like home/end for and input field
                    // That's why this event should be suppressed.
                    event.stopPropagation();
                    if (event.stopPropagation) event.stopPropagation();
                    if (event.preventDefault) event.preventDefault();
                    event.cancelBubble = true;
                    event.returnValue = false;

                    // Let's now handle the up/down logic that should perform search result list navigation
                    if (event.keyCode === 38) {
                        menuList.selectPrev();
                    } else if (event.keyCode === 40) {
                        menuList.selectNext();
                    }

                    // return false as part of stopping the event from propagation
                    return false;
                }
            }
        });
    })();
</script>