<link rel="import" href="/resources/polymer/polymer/polymer.html">
<link rel="import" href="/resources/components/moment-component.html">
<link rel="import" href="/resources/polymer/paper-icon-button/paper-icon-button.html">

<dom-module id="tg-month-selector">
    <style>
        .header {
            height: 2.2em;
            font-size: 14px;
        }
        .month-shown {
            font-weight: 600;
            margin: 0px 1.1em;
        }
        .selected-date {
			background-color: #03A9F4;
			color: white !important;
		}
        .day {
            height: 2.2em;
            width: 2.2em;
            font-size: 12px;
            border-radius: 1.1em;
            cursor: pointer;
        }
        .dead-day {
            cursor: auto !important;
            pointer-events: none;
            color: #CDCDCD;
        }
        .day-short-name {
            color: #757575;
            pointer-events: none;
            cursor: auto;
        }
        .today-date {
			color: #03A9F4;
		}
        paper-icon-button {
			padding: 0px;
			margin: 0px;
            width: 24px;
            height: 24px;
		}
    </style>
    <template>
        <div class="layout vertical">
            <div class="header month-shown layout horizontal justified center">
                <div>
                    <paper-icon-button icon="chevron-left" on-tap="_prevMonth"></paper-icon-button>
                </div>
                <div class="layout vertical center-justified">
                    <span>
                            <span>[[monthName]]</span>  <span>[[year]]</span>
                    </span>
                </div>
                <div>
                    <paper-icon-button icon="chevron-right" on-tap="_nextMonth"></paper-icon-button>
                </div>
            </div>
            <div class="calendar layout vertical">
                <div class="layout horizontal center-justified">
                    <div class="day day-short-name layout vertical center-center"><span>S</span>
                    </div>
                    <div class="day day-short-name layout vertical center-center"><span>M</span>
                    </div>
                    <div class="day day-short-name layout vertical center-center"><span>T</span>
                    </div>
                    <div class="day day-short-name layout vertical center-center"><span>W</span>
                    </div>
                    <div class="day day-short-name layout vertical center-center"><span>T</span>
                    </div>
                    <div class="day day-short-name layout vertical center-center"><span>F</span>
                    </div>
                    <div class="day day-short-name layout vertical center-center"><span>S</span>
                    </div>
                </div>
                <template is="dom-repeat" items="[[weeks]]" as="week">
                    <div class="layout horizontal center-justified">
                        <template is="dom-repeat" items="[[week]]" as="day">
                            <div on-tap="_selectDay" class$="[[_calcDayClass(day, selectedDay)]]"><span>[[_absolute(day)]]</span>
                            </div>
                        </template>
                    </div>
                </template>
            </div>
        </div>
    </template>
</dom-module>
<script>
    (function () {
        var getDaysInMonth = function (year, month) {
                return new Date(year, month + 1, 0).getDate();
            },
            createMonth = function (year, month) {
                var weeks = [],
                    week = [],
                    day = 1,
                    days = getDaysInMonth(year, month);
                while (day > 0) {
                    week = createWeek(year, month, day);
                    weeks.push(week);
                    day = week[week.length - 1] > 0 && week[week.length - 1] < days ? week[week.length - 1] + 1 : 0;
                }
                return weeks;
            },
            createWeek = function (year, month, day) {
                var week = [],
                    firstDay = new Date(year, month, day).getDay(),
                    days = getDaysInMonth(year, month),
                    previousMonthDays = getDaysInMonth(year, month - 1),
                    nextMonthDay = -1,
                    _i = 0;
                // In case when the first day of the month is not a sanday then add 0 to the first days of the week.
                for (; _i < firstDay; _i++) {
                    week.push(-1 * (previousMonthDays - (firstDay - (_i + 1))));
                }
                // Add day numbers to the week.
                for (; _i < 7 && day <= days; _i++) {
                    week.push(day);
                    day += 1;
                }
                // In case when the last day of the month is not saturday then add 0 to the last days of the week. 
                for (; _i < 7; _i++) {
                    week.push(nextMonthDay);
                    nextMonthDay -= 1;
                }
                return week;
            };
        Polymer({

            is: "tg-month-selector",

            properties: {
                selectedDate: {
                    type: Number,
                    notify: true,
					observer: "_selectedDateChanged"
                },
                selectedDay: Number,
                selectedMonth: Number,
                selectedYear: Number,
                todayDay: Number,
                todayMonth: Number,
                todayYear: Number,
                monthName: String,
                month: Number,
                year: Number
            },

            ready: function () {
                var today = new Date();
                this.todayDay = today.getDate();
                this.todayMonth = today.getMonth();
                this.todayYear = today.getFullYear();
            },
            
            attached: function () {
                var dateToShow = (this.selectedDate && new Date(this.selectedDate)) || new Date();
                this._adjustMonth(dateToShow);
            },

            /**
             * Goes to the previous month.
             */
            _prevMonth: function () {
                this._selectMonth(-1);
            },

            /**
             * Goes to the next month.
             */
            _nextMonth: function () {
                this._selectMonth(1);
            },
            
            /**
             * Selectes the year on the displayed calendar
             */
            _selectYear: function (year) {
                var dateToShow = new Date(year, this.month, 1);
                this._adjustMonth(dateToShow);
            },

            /**
             * Selects month depending on increment (the increment might be positive or negetive).
             */
            _selectMonth: function (increment) {
                var dateToShow = new Date(this.year, this.month + increment, 1);
                this._adjustMonth(dateToShow);
            },

            /**
             * Updates the calendar information depending on which month was choosen.
             */
            _adjustMonth: function (dateToShow) {
                if (this.month !== dateToShow.getMonth() || this.year !== dateToShow.getFullYear()) {
                    this.monthName = moment(dateToShow).format("MMMM");
                    this.month = dateToShow.getMonth();
                    this.year = dateToShow.getFullYear();
                    this.weeks = createMonth(this.year, this.month);
                }
            },
            
            /**
			 * Selects the date.
			 */
			_selectDay: function (event, detail, el) {
				this.selectedDate = new Date(this.year, this.month, event.model.day).getTime();
			},

			/**
			 * Listens when the selected date changes.
			 */
			_selectedDateChanged: function (newValue, oldValue) {
				var newDate = new Date(newValue);
                this.selectedYear = newDate.getFullYear();
                this.selectedMonth = newDate.getMonth();
				this.selectedDay = newDate.getDate();
				this._adjustMonth(newDate);
			},
            
            /**
			 * Calcualtes class names for specified day.
			 */
			_calcDayClass: function (day, selectedDay) {
				var dayClasses = "day layout vertical center-center";
				if (day < 0) {
					dayClasses += " dead-day";
				}
				if (day === this.todayDay && this.month === this.todayMonth && this.year === this.todayYear) {
					dayClasses += " today-date";
				}
				if (day === selectedDay && this.month === this.selectedMonth && this.year === this.selectedYear) {
					dayClasses += " selected-date";
				}
				return dayClasses;
			},

			/**
			 * Returns the absolute value of the day
			 */
			_absolute: function (day) {
				return Math.abs(day);
			}
        });
    })();
</script>