<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>Menu list example</title>
    <script src='/resources/polymer/@webcomponents/webcomponentsjs/webcomponents-bundle.js'></script>
    <script src='/resources/polymer/web-animations-js/web-animations-next-lite.min.js'></script>
    <script src="/resources/lodash/4.17.11/lodash.min.js"></script>
    <script src="/resources/postal/2.0.5/postal.min.js"></script>
    <script src="/resources/filesaver/FileSaver.min.js"></script>
    <script type="module">
        import '/resources/polymer/@polymer/iron-flex-layout/iron-flex-layout-classes.js'; // fullbleed class
        import '/resources/polymer/@polymer/iron-icon/iron-icon.js';
        import '/resources/polymer/@polymer/iron-icons/iron-icons.js';
        
        import '/resources/polymer/@polymer/paper-styles/paper-styles-classes.js'; // Roboto font
        import '/resources/polymer/@polymer/paper-icon-button/paper-icon-button.js';
        import '/resources/polymer/@polymer/paper-styles/paper-styles-classes.js';
        import '/resources/polymer/@polymer/paper-toolbar/paper-toolbar.js';
        
        import '/resources/components/tg-menu-search-input.js';
    </script>
    <custom-style>
        <style include="iron-flex iron-flex-reverse iron-flex-alignment iron-flex-factors iron-positioning">
            body {
                font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-size: 10pt;
            }
            a paper-icon-button,
            a:active paper-icon-button,
            a:visited paper-icon-button {
                color: white;
            }
            tg-menu-search-input {
                --menu-search-icon-color: white;
                --menu-search-input-color: white;
            }
            paper-toolbar {
                --paper-toolbar-background: var(--paper-light-blue-700);
                --paper-toolbar-color: white;
                --paper-toolbar-height: 44px;
            }
        </style>
    </custom-style>
</head>

<body unresolved class="fullbleed">
    <dom-bind>
        <template is="dom-bind">
            <paper-toolbar id="toolbar" justify="justified">
                <tg-menu-search-input slot="top" menu="[[menu]]" on-menu-item-selected="_menuSelected" tooltip="Application-wide menu search (tap or hit F3 to invoke)."></tg-menu-search-input>
                <a slot="top" href="/logout" tabIndex="-1">
                    <paper-icon-button icon="icons:exit-to-app"></paper-icon-button>
                </a>
            </paper-toolbar>
        </template>
    </dom-bind>
</body>
<script>
    var app = document.querySelector("dom-bind");
    app._menuSelected = function (e) {
        console.log(e.detail);
    };
    app.menu = [{
        "key": "Fleet",
        "desc": "Fleet",
        "menu": []
        }, {
        "key": "Import utilities",
        "menu": [{
            "key": "First view",
            "menu": [],
            "view": null,
            "desc": "First view description"
            }, {
            "key": "Second view",
            "menu": [],
            "view": null,
            "desc": "Second view description"
            }, {
            "key": "Entity Centre 1",
            "menu": [],
            "view": {
                "key": "view",
                "htmlImport": "/centre_ui/ua.com.fielden.platform.ui.menu.sample.MiTgPersistentEntityWithProperties1",
                "elementName": "tg-MiTgPersistentEntityWithProperties1-centre",
                "viewType": "centre",
                "attrs": {
                    "uuid": "TgPersistentEntityWithProperties 1",
                    "autoRun": false,
                    "enforcePostSaveRefresh": true,
                    "uri": "/sse/entity-centre-events"
                }
            },
            "desc": "Entity centre description"
            }, {
            "key": "Entity Centre 2",
            "menu": [],
            "view": {
                "key": "view",
                "htmlImport": "/centre_ui/ua.com.fielden.platform.ui.menu.sample.MiTgPersistentEntityWithProperties2",
                "elementName": "tg-MiTgPersistentEntityWithProperties2-centre",
                "viewType": "centre",
                "attrs": {
                    "uuid": "TgPersistentEntityWithProperties 2",
                    "autoRun": false,
                    "enforcePostSaveRefresh": true,
                    "uri": "/sse/entity-centre-events"
                }
            },
            "desc": "Entity centre description"
            }, {
            "key": "Entity Centre 3",
            "menu": [],
            "view": {
                "key": "view",
                "htmlImport": "/centre_ui/ua.com.fielden.platform.ui.menu.sample.MiTgPersistentEntityWithProperties3",
                "elementName": "tg-MiTgPersistentEntityWithProperties3-centre",
                "viewType": "centre",
                "attrs": {
                    "uuid": "TgPersistentEntityWithProperties 3",
                    "autoRun": false,
                    "enforcePostSaveRefresh": true,
                    "uri": "/sse/entity-centre-events"
                }
            },
            "desc": "Entity centre description"
            }, {
            "key": "Entity Centre 4",
            "menu": [],
            "view": {
                "htmlImport": "/centre_ui/ua.com.fielden.platform.ui.menu.sample.MiTgPersistentEntityWithProperties4",
                "elementName": "tg-MiTgPersistentEntityWithProperties4-centre",
                "viewType": "centre",
                "attrs": {
                    "uuid": "TgPersistentEntityWithProperties 4",
                    "autoRun": false,
                    "enforcePostSaveRefresh": true,
                    "uri": "/sse/entity-centre-events"
                }
            },
            "desc": "Entity centre description"
            }, {
            "key": "Collectional Serialisation Test",
            "menu": [],
            "view": {
                "key": "view",
                "htmlImport": "/centre_ui/ua.com.fielden.platform.ui.menu.sample.MiTgCollectionalSerialisationParent",
                "elementName": "tg-MiTgCollectionalSerialisationParent-centre",
                "viewType": "centre",
                "attrs": {
                    "uuid": "TgCollectionalSerialisationParent",
                    "autoRun": false,
                    "enforcePostSaveRefresh": false,
                    "uri": null
                }
            },
            "desc": "Collectional Serialisation Test description"
            }, {
            "key": "Third view",
            "menu": [],
            "view": null,
            "visible": true,
            "desc": "Third view description"
            }],
        "desc": "Import utilities"
        }, {
        "key": "Division daily management",
        "bgColor": "#CFD8DC",
        "captionBgColor": "#78909C",
        "icon": "menu:divisional-daily-management",
        "detailIcon": "menu-detailed:divisional-daily-management",
        "menu": [{
            "key": "Custom group",
            "menu": [{
                "key": "Entity Centre",
                "menu": [],
                "view": {
                    "key": "view",
                    "htmlImport": "/centre_ui/ua.com.fielden.platform.ui.menu.sample.MiTgPersistentEntityWithProperties",
                    "elementName": "tg-MiTgPersistentEntityWithProperties-centre",
                    "viewType": "centre",
                    "attrs": {
                        "uuid": "TgPersistentEntityWithProperties",
                        "autoRun": true,
                        "enforcePostSaveRefresh": true,
                        "uri": "/sse/entity-centre-events"
                    }
                },
                "desc": "Entity centre description"
                }, {
                "key": "Not Generated Centre",
                "menu": [],
                "view": {
                    "key": "view",
                    "htmlImport": "/centre_ui/ua.com.fielden.platform.ui.menu.sample.MiEntityCentreNotGenerated",
                    "elementName": "tg-MiEntityCentreNotGenerated-centre",
                    "viewType": "centre",
                    "attrs": {
                        "uuid": "MiEntityCentreNotGenerated",
                        "autoRun": true,
                        "enforcePostSaveRefresh": true,
                        "uri": "/sse/entity-centre-events"
                    }
                },
                "desc": "Entity centre without calculated / custom properties, which type is strictly TgPersistentEntityWithProperties.class"
                }],
            "view": null,
            "desc": "Custom group"
            }, {
            "key": "Custom View",
            "menu": [],
            "view": {
                "key": "view",
                "htmlImport": "/custom_view/CustomView",
                "elementName": "tg-CustomView",
                "viewType": "view",
                "attrs": {}
            },
            "desc": "Custom view description"
            }, {
            "key": "Deletion Centre",
            "menu": [],
            "view": {
                "key": "view",
                "htmlImport": "/centre_ui/ua.com.fielden.platform.ui.menu.sample.MiDeletionTestEntity",
                "elementName": "tg-MiDeletionTestEntity-centre",
                "viewType": "centre",
                "attrs": {
                    "uuid": "TgDeletionTestEntity",
                    "autoRun": false,
                    "enforcePostSaveRefresh": false,
                    "uri": null
                }
            },
            "desc": "Deletion centre description"
            }, {
            "key": "Last group",
            "menu": [{
                "key": "Property Dependency Example",
                "menu": [],
                "view": {
                    "key": "view",
                    "htmlImport": "/centre_ui/ua.com.fielden.platform.ui.menu.sample.MiTgEntityWithPropertyDependency",
                    "elementName": "tg-MiTgEntityWithPropertyDependency-centre",
                    "viewType": "centre",
                    "attrs": {
                        "uuid": "Property Dependency Example",
                        "autoRun": true,
                        "enforcePostSaveRefresh": false,
                        "uri": null
                    }
                },
                "desc": "Property Dependency Example description"
                }, {
                "key": "Property Descriptor Example",
                "menu": [],
                "view": {
                    "key": "view",
                    "htmlImport": "/centre_ui/ua.com.fielden.platform.ui.menu.sample.MiTgEntityWithPropertyDescriptor",
                    "elementName": "tg-MiTgEntityWithPropertyDescriptor-centre",
                    "viewType": "centre",
                    "attrs": {
                        "uuid": "Property Descriptor Example",
                        "autoRun": true,
                        "enforcePostSaveRefresh": false,
                        "uri": null
                    }
                },
                "desc": "Property Descriptor Example description"
                }, {
                "key": "TimeZones Example",
                "menu": [],
                "view": {
                    "key": "view",
                    "htmlImport": "/centre_ui/ua.com.fielden.platform.ui.menu.sample.MiTgEntityWithTimeZoneDates",
                    "elementName": "tg-MiTgEntityWithTimeZoneDates-centre",
                    "viewType": "centre",
                    "attrs": {
                        "uuid": "MiTgEntityWithTimeZoneDates",
                        "autoRun": false,
                        "enforcePostSaveRefresh": false,
                        "uri": null
                    }
                },
                "desc": "TimeZone properties handling example"
                }],
            "view": null,
            "desc": "Last group"
            }],
        "desc": "Division daily management"
        }, {
        "key": "Accidents",
        "menu": [],
        "desc": "Accidents"
        }, {
        "key": "Maintenance",
        "menu": [],
        "desc": "Maintenance"
        }, {
        "key": "User",
        "menu": [{
            "key": "Users",
            "menu": [],
            "view": {
                "key": "view",
                "htmlImport": "/centre_ui/ua.com.fielden.platform.ui.menu.sample.MiUser",
                "elementName": "tg-MiUser-centre",
                "viewType": "centre",
                "attrs": {
                    "uuid": "Users",
                    "autoRun": true,
                    "enforcePostSaveRefresh": false,
                    "uri": null
                }
            },
            "desc": "User centre"
            }, {
            "key": "User Roles",
            "menu": [],
            "view": {
                "key": "view",
                "htmlImport": "/centre_ui/ua.com.fielden.platform.ui.menu.sample.MiUserRole",
                "elementName": "tg-MiUserRole-centre",
                "viewType": "centre",
                "attrs": {
                    "uuid": "User Roles",
                    "autoRun": true,
                    "enforcePostSaveRefresh": false,
                    "uri": null
                }
            },
            "desc": "User role centre"
            }],
        "desc": "User"
        }, {
        "key": "Online reports",
        "menu": [],
        "desc": "Online reports"
        }, {
        "key": "Fuel",
        "menu": [],
        "desc": "Fuel"
        }, {
        "key": "Organisational",
        "menu": [],
        "desc": "Organisational"
        }, {
        "key": "Preventive maintenance",
        "menu": [],
        "desc": "Preventive maintenance"
        }];
</script>

</html>