<link rel="import" href="/resources/polymer/polymer/polymer.html">
<link rel="import" href="/resources/components/moment-component.html">
<link rel="import" href="/resources/polymer/paper-icon-button/paper-icon-button.html">

<dom-module id="tg-month-selector">
    <style>
        .header {
            height: 2.2em;
            font-size: 14px;
        }
        .month-shown {
            font-weight: 600;
            margin: 0px 1.1em;
        }
        .selected-date {
            background-color: #03A9F4;
            color: white !important;
        }
        .day {
            height: 2.2em;
            width: 2.2em;
            font-size: 12px;
            border-radius: 1.1em;
            cursor: pointer;
        }
        .dead-day {
            cursor: auto !important;
            pointer-events: none;
            color: #CDCDCD;
        }
        .day-short-name {
            color: #757575;
            pointer-events: none;
            cursor: auto;
        }
        .today-date {
            color: #03A9F4;
        }
        paper-icon-button {
            padding: 0px;
            margin: 0px;
            width: 24px;
            height: 24px;
        }
    </style>
    <template>
        <div class="layout vertical">
            <div class="header month-shown layout horizontal justified center">
                <div>
                    <paper-icon-button icon="chevron-left" on-tap="_prevMonth"></paper-icon-button>
                </div>
                <div class="layout vertical center-justified">
                    <span>
                            <span>[[monthName]]</span>  <span>[[year]]</span>
                    </span>
                </div>
                <div>
                    <paper-icon-button icon="chevron-right" on-tap="_nextMonth"></paper-icon-button>
                </div>
            </div>
            <div class="calendar layout vertical">
                <div class="layout horizontal center-justified">
                    <div class="day day-short-name layout vertical center-center"><span>S</span>
                    </div>
                    <div class="day day-short-name layout vertical center-center"><span>M</span>
                    </div>
                    <div class="day day-short-name layout vertical center-center"><span>T</span>
                    </div>
                    <div class="day day-short-name layout vertical center-center"><span>W</span>
                    </div>
                    <div class="day day-short-name layout vertical center-center"><span>T</span>
                    </div>
                    <div class="day day-short-name layout vertical center-center"><span>F</span>
                    </div>
                    <div class="day day-short-name layout vertical center-center"><span>S</span>
                    </div>
                </div>
                <template is="dom-repeat" items="[[weeks]]" as="week">
                    <div class="layout horizontal center-justified">
                        <template is="dom-repeat" items="[[week]]" as="day">
                            <div on-tap="_selectDay" class$="[[_calcDayClass(day, month, year, selectedDay, selectedMonth, selectedYear)]]"><span>[[_absolute(day)]]</span>
                            </div>
                        </template>
                    </div>
                </template>
            </div>
        </div>
    </template>
</dom-module>
<script>
    (function () {
        var getDaysInMonth = function (year, month) {
                var yearMonth = { year: year, month: month, day: 1 };
                return (this.timeZone ? moment.tz(yearMonth, this.timeZone) : moment(yearMonth)).daysInMonth();
            },
            createMonth = function (year, month) {
                var weeks = [],
                    week = [],
                    day = 1,
                    days = getDaysInMonth(year, month);
                while (day > 0) {
                    week = createWeek(year, month, day);
                    weeks.push(week);
                    day = week[week.length - 1] > 0 && week[week.length - 1] < days ? week[week.length - 1] + 1 : 0;
                }
                return weeks;
            },
            createWeek = function (year, month, day) {
                var yearMonthDay = { year: year, month: month, day: day };
                var week = [],
                    firstDay = (this.timeZone ? moment.tz(yearMonthDay, this.timeZone) : moment(yearMonthDay)).weekday(),
                    days = getDaysInMonth(year, month),
                    previousMonthDays = getDaysInMonth(year, month - 1),
                    nextMonthDay = -1,
                    _i = 0;
                // In case when the first day of the month is not a sanday then add 0 to the first days of the week.
                for (; _i < firstDay; _i++) {
                    week.push(-1 * (previousMonthDays - (firstDay - (_i + 1))));
                }
                // Add day numbers to the week.
                for (; _i < 7 && day <= days; _i++) {
                    week.push(day);
                    day += 1;
                }
                // In case when the last day of the month is not saturday then add 0 to the last days of the week. 
                for (; _i < 7; _i++) {
                    week.push(nextMonthDay);
                    nextMonthDay -= 1;
                }
                return week;
            };
        Polymer({

            is: "tg-month-selector",

            properties: {
                /**
                 * If 'null', then default timezone should be used for toString and fromString conversions (do not specify anything), 
                 * otherwise -- the specified timezone should be used in 'moment.tz(timeZone)' and 'moment(..., timeZone)' methods.
                 */
                timeZone: {
                    type: String
                },
                
                selectedDate: {
                    type: Number,
                    notify: true,
                    observer: "_selectedDateChanged"
                },
                selectedDay: Number,
                selectedMonth: Number,
                selectedYear: Number,
                todayDay: Number,
                todayMonth: Number,
                todayYear: Number,
                monthName: String,
                month: Number,
                year: Number
            },

            ready: function () {
                var today = (this.timeZone ? moment.tz(this.timeZone) : moment());
                this.todayDay = today.day();
                this.todayMonth = today.month();
                this.todayYear = today.year();
                this.selectedDay = null;
                this.selectedMonth = null;
                this.selectedYear = null;
                this.month = null;
                this.year = null;
            },

            attached: function () {
                var momentToShow = this.selectedDate ? 
                        (this.timeZone ? moment.tz(this.selectedDate, this.timeZone) : moment(this.selectedDate)) :
                        (this.timeZone ? moment.tz(this.timeZone) : moment());
                this._adjustMonth(momentToShow);
            },

            /**
             * Goes to the previous month.
             */
            _prevMonth: function () {
                this._selectMonth(this.month - 1);
            },

            /**
             * Goes to the next month.
             */
            _nextMonth: function () {
                this._selectMonth(this.month + 1);
            },

            /**
             * Selectes the year on the displayed calendar
             */
            _selectYear: function (year) {
                var yearMonth = { year: year, month: this.month, day: 1 };
                var momentToShow = (this.timeZone ? moment.tz(yearMonth, this.timeZone) : moment(yearMonth));
                this._adjustMonth(momentToShow);
            },

            /**
             * Selects month depending on increment (the increment might be positive or negetive).
             */
            _selectMonth: function (month) {
                var yearMonth = { year: this.year, month: month, day: 1 };
                var momentToShow = (this.timeZone ? moment.tz(yearMonth, this.timeZone) : moment(yearMonth));
                this._adjustMonth(momentToShow);
            },

            /**
             * Updates the calendar information depending on which month was choosen.
             */
            _adjustMonth: function (momentToShow) {
                if ( /* FIXME why do we need this? !isNaN(momentToShow.valueOf()) && */ momentToShow.isValid() && (this.month !== momentToShow.month() || this.year !== momentToShow.year())) {
                    this.monthName = momentToShow.format("MMMM");
                    this.month = momentToShow.month();
                    this.year = momentToShow.year();
                    this.weeks = createMonth(this.year, this.month);
                }
            },

            /**
             * Selects the date.
             */
            _selectDay: function (event, detail, el) {
                var yearMonthDay = { year: this.year, month: this.month, day: event.model.day };
                this.selectedDate = (this.timeZone ? moment.tz(yearMonthDay, this.timeZone) : moment(yearMonthDay)).valueOf();
            },

            /**
             * Listens when the selected date changes.
             */
            _selectedDateChanged: function (newValue, oldValue) {
                if (newValue !== null) {
                    var newMoment = this.timeZone ? moment.tz(newValue, this.timeZone) : moment(newValue);
                    if (/* !isNaN(newDate.getTime())*/ newMoment.isValid() ) { // FIXME why do we need this?
                        this.selectedYear = newMoment.year();
                        this.selectedMonth = newMoment.month();
                        this._adjustMonth(newMoment);
                        this.selectedDay = newMoment.day();
                    }
                }
            },

            /**
             * Calcualtes class names for specified day.
             */
            _calcDayClass: function (day, month, year, selectedDay, selectedMonth, selectedYear) {
                var dayClasses = "day layout vertical center-center";
                if (day < 0) {
                    dayClasses += " dead-day";
                }
                if (day === this.todayDay && month === this.todayMonth && year === this.todayYear) {
                    dayClasses += " today-date";
                }
                if (day === selectedDay && month === selectedMonth && year === selectedYear) {
                    dayClasses += " selected-date";
                }
                return dayClasses;
            },

            /**
             * Returns the absolute value of the day
             */
            _absolute: function (day) {
                return Math.abs(day);
            }
        });
    })();
</script>