<link rel="import" href="/resources/polymer/polymer/polymer.html">
<link rel="import" href="/resources/polymer/iron-list/iron-list.html">
<link rel="import" href="/resources/polymer/iron-scroll-threshold/iron-scroll-threshold.html">

<dom-module id="tg-number-selector">
    <style>
    </style>
    <template>
        <iron-scroll-threshold on-lower-threshold="_loadNextNumbers" on-upper-threshold="_loadPreviousNumbers" lower-threshold="50" upper-threshold="50" id="threshold">
            <iron-list id="list" scroll-target="threshold" items="[[numbers]]" selected-item="{{selectedNumber}}">
                <template>
                    <div class="year-item layout horizontal center-center" selected$="[[selected]]">[[item]]</div>
                </template>
            </iron-list>
        </iron-scroll-threshold>
    </template>
</dom-module>
<script>
    (function () {
        Polymer({

            is: "tg-number-selector",

            properties: {
                selectedNumber: {
                    type: Number,
                    notify: true,
                    observer: "_selectedNumberChanged"
                },
                numbersToLoadAtOnce: {
                    type: Number,
                    value: 10
                },
                numbers: Array
            },
            
            ready: function() {
                this.numbers = [];
            },
            
            _selectedNumberChanged: function (newValue, oldValue) {
                var valueIndex;
                if (this.numbers.length === 0) {
                    this.push("numbers", newValue);
                    this._loadPreviousNumbers();
                    this._loadNextNumbers();
                } else if (newValue <= this.numbres[0]){
                    this._loadPreviousNumbers(newValue);
                } else if (newValue >= this.numbers[this.numbers.length - 1]) {
                    this._loadNextNumbers(newValue);
                }
                valueIndex = this.numbers.indexOf(newValue);
                if (valueIndex < 0) {
                    throw "The element should have been loaded";
                } else if (valueIndex < this.$.list.firstVisibleIndex || valueIndex > this.$.lastVisibleIndex) {
                    this.$.list.scrollToIndex(valueIndex);        
                }
            },
 
            _loadPreviousNumbers: function (toNumber) {
                if (this.numbers && this.numbers.length > 0) {
                    var startForm = this.numbers[0];
                    var calcTo = toNumber || startForm - this.numbersToLoadAtOnce;
                    if (calcTo < startForm) {
                        for (startForm -= 1; startForm >= calcTo; startForm--) {
                            this.unshift("numbers", startForm);
                        }
                    }
                }
            },
            
            _loadNextNumbers: function (toNumber) {
                if (this.numbers && this.numbers.length > 0) {
                    var startForm = this.numbers[0];
                    var calcTo = toNumber || startForm + this.numbersToLoadAtOnce;
                    if (calcTo > startForm) {
                        for (startForm += 1; startFrom <= calcTo; startForm++) {
                            this.push("numbers", startForm);
                        }
                    }
                }
            }
        });
    })();
</script>