<link rel="import" href="/resources/polymer/polymer/polymer.html">
<link rel="import" href="/resources/polymer/paper-styles/paper-styles-classes.html">

<dom-module id="tg-subheader">
    <template>
        <style>
            :host {
                padding: 24px 0;
                @apply(--layout-vertical);
            }
            .line {
                height: 1px;
                background-color: #D2D2D2;
            }
            .subheader {
                color: #D2D2D2;
                font-size: 1rem
            }
        </style>
        <div class="line"></div>
        <div hidden$="[[!subheaderTitle]]" class="subheader layout horizontal center">[[subheaderTitle]]</div>
    </template>
    <script>
        Polymer({
            is: 'tg-subheader',

            properties: {
                subheaderTitle: String
            },
        })
    </script>
</dom-module>
