<link rel="import" href="/resources/polymer/polymer/polymer.html">
<link rel="import" href="/resources/polymer/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/resources/polymer/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="/app/tg-app-config.html">

<!-- Generic component for scrollable container with bottom / top shadows. The usage of this component should be relatively or absolutely positioned. -->
<!-- --tg-scrollable-layout mixin can be used to customise layout and styles of scrollable content.  -->
<dom-module id="tg-scrollable-component">
    <style>
        :host {
            min-height: 0;
            @apply(--layout-vertical);
        }
        #scrollablePanel {
            overflow: auto;
            @apply(--tg-scrollable-layout);
        }
        .webkit-scroll-inertia {
            -webkit-overflow-scrolling: touch;
        }
        #shadowContainer {
            pointer-events: none;
        }
    </style>
    <template>
        <div id="scrollablePanel" on-scroll="_contentScrolled" class="webkit-scroll-inertia">
            <content></content>
        </div>
        <div id="shadowContainer" class="fit"></div>
        <tg-app-config id="appConfig"></tg-app-config>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'tg-scrollable-component',

        behaviors: [Polymer.IronResizableBehavior],

        properties: {
            endOfScroll: {
                type: Function
            }
        },
        
        ready: function () {
            this.addEventListener("iron-resize", this._resizeEventListener.bind(this));
            this._mutationConfig = {childList: true, subtree: true};
            const observer = mutationList => {
                this.async(function () {
                    this._resizeEventListener();
                }, 1);
            };
            this._mutationObserver = new MutationObserver(observer);
           
        },

        attached: function () {
             this._mutationObserver.observe(this.$.scrollablePanel, this._mutationConfig);
        },
        
        detached: function () {
             this._mutationObserver.disconnect();
        },

        _resizeEventListener: function (event, details) {
            this._contentScrolled();
            
            if (this.$.appConfig.mobile === true && this.$.appConfig.iPhoneOs()) { // TODO perhaps MacOs webkit browsers are also affected, then it needs to be fixed here too
                // In webkit-based browsers we use '-webkit-overflow-scrolling: touch' css fix to enable scroll inertia (all other browsers implement that natively).
                // However, this causes completely broken scrolling in cases where inner content changes its sizes.
                // Specifically the size change should be following: at the beginng the content becomes small and non-scrollable and then, again, big and scrollable.
                // See this post http://patrickmuff.ch/blog/2014/10/01/how-we-fixed-the-webkit-overflow-scrolling-touch-bug-on-ios/ and its comments for more information.
                // Also this post http://jstn.name/bug-fix-for-overflow-scrolling-on-orientation-change/ helps too.
                this.$.scrollablePanel.classList.remove('webkit-scroll-inertia');
                this.async(function () {
                    this.$.scrollablePanel.classList.add('webkit-scroll-inertia');
                }.bind(this), 200); // need magic async and wait at least 200 ms (this works on iOs 11.3 Safari 11.0)
            }
        },
        
        _contentScrolled: function (e) {
            const scrollTarget = this.$.scrollablePanel;
            const shadowTarget = this.$.shadowContainer;
            if (scrollTarget) {
                let shadowStyle = "";
                if (scrollTarget.scrollTop) {
                    shadowStyle += "inset 0 3px 6px -2px rgba(0,0,0,0.7)";
                }
                if (Math.ceil(scrollTarget.scrollTop + scrollTarget.offsetHeight) < scrollTarget.scrollHeight) {
                    shadowStyle += (shadowStyle ? ", " : "") + "inset 0 -3px 6px -2px rgba(0,0,0,0.7)";
                } else if (e && this.endOfScroll) {
                    this.endOfScroll(e);
                }
                if (shadowStyle) {
                    shadowTarget.style.boxShadow = shadowStyle;
                } else {
                    shadowTarget.style.removeProperty('box-shadow');
                }
            }
        }
    });
</script>