<link rel="import" href="/resources/polymer/polymer/polymer.html">
<link rel="import" href="/resources/polymer/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/resources/polymer/iron-icons/iron-icons.html">
<link rel="import" href="/resources/polymer/paper-styles/paper-styles.html">
<link rel="import" href="/resources/components/moment-component.html">

<dom-module id="tg-time">
    <style>
        .time {
            font-size: 64px;
            height: 64px;
            @apply(--tg-time);

        }
        .time-portion {
            margin: 10px;
            @apply(--tg-time-portion);

        }
        .meridian {
            font-size: 24px;
            height: 64px;
            @apply(--tg-meridian);

        }
        paper-icon-button {
            padding: 0px;
            margin: 0px;
        }
        paper-icon-button[icon="expand-more"] {
            margin-top: 2px;
        }
    </style>
    <template>
        <div class="layout horizontal center-center">
            <div class="time-portion layout vertical center justified">
                <paper-icon-button icon="expand-less" on-down="_incrementHour" on-up="_clearPuls"></paper-icon-button>
                <div class="time">[[_formatHours(hour, showMeridian)]]</div>
                <paper-icon-button icon="expand-more" on-down="_decrementHour" on-up="_clearPuls"></paper-icon-button>
            </div>
            <div class="time time-portion">:</div>
            <div class="time-portion layout vertical center justified">
                <paper-icon-button icon="expand-less" on-down="_incrementMinute" on-up="_clearPuls"></paper-icon-button>
                <div class="time">[[_formatMinute(minute)]]</div>
                <paper-icon-button icon="expand-more" on-down="_decrementMinute" on-up="_clearPuls"></paper-icon-button>
            </div>

            <template is="dom-if" if="[[showMeridian]]">
                <div class="time-portion layout vertical center justified">
                    <paper-icon-button icon="expand-less" on-down="_incrementMeridian" on-up="_clearPuls"></paper-icon-button>
                    <div class="meridian layout vertical center-center">[[meridian]]</div>
                    <paper-icon-button icon="expand-more" on-down="_decrementMeridian" on-up="_clearPuls"></paper-icon-button>
                </div>
            </template>
        </div>
    </template>
</dom-module>
<script>
    (function () {
        var meridians = ["AM", "PM"],
            zeroPad = function (str, num) {
                str = (str && str.toString()) || "";
                return str.length < num ? zeroPad("0" + str, num) : str;
            };

        Polymer({

            is: "tg-time",

            properties: {
                hour: {
                    type: Number,
                    notify: true,
                    value: 0
                },
                minute: {
                    type: Number,
                    notify: true,
                    value: 0
                },
                meridian: {
                    type: String,
                    notify: true,
                    value: "AM"
                },
                showMeridian: {
                    type: Boolean,
                    value: moment.localeData().longDateFormat("LT").toLowerCase().indexOf("a") >= 0,
                    reflectToAttribute: true
                }
            },

            ready: function () {
                this.deltaMinute = 1;
                this.deltaHour = 1;
            },
            _clearPuls: function (e, detail) {
                if (this.interval) {
                    clearInterval(this.interval);
                    delete this.interval;
                }
            },
            _incrementHour: function (e, detail) {
                this.deltaHour = 1;
                this.goHour(this.deltaHour);
                this.interval = setInterval(this._pulsIncrementHour.bind(this), 200);
            },
            _pulsIncrementHour: function () {
                if (this.deltaHour < 2 && !this.showMeridian) {
                    this.deltaHour += 1;
                }
                this.goHour(this.deltaHour);
            },
            _decrementHour: function (e, detail) {
                this.deltaHour = -1;
                this.goHour(this.deltaHour);
                this.interval = setInterval(this._pulsDecrementHour.bind(this), 200);
            },
            _pulsDecrementHour: function () {
                if (this.deltaHour > -2 && !this.showMeridian) {
                    this.deltaHour -= 1;
                }
                this.goHour(this.deltaHour);
            },
            _incrementMinute: function (e, detail) {
                this.deltaMinute = 1;
                this.goMinute(this.deltaMinute);
                this.interval = setInterval(this._pulsIncrementMinute.bind(this), 200);
            },
            _pulsIncrementMinute: function () {
                if (this.deltaMinute < 5) {
                    this.deltaMinute += 1;
                }
                this.goMinute(this.deltaMinute);
            },
            _decrementMinute: function (e, detail) {
                this.deltaMinute = -1;
                this.goMinute(this.deltaMinute);
                this.interval = setInterval(this._pulsDecrementMinute.bind(this), 200);
            },
            _pulsDecrementMinute: function () {
                if (this.deltaMinute > -5) {
                    this.deltaMinute -= 1
                }
                this.goMinute(this.deltaMinute);
            },
            _incrementMeridian: function (e, detail) {
                this.goMeridian(1);
                this.interval = setInterval(this._pulsIncrementMeridian.bind(this), 200);
            },
            _pulsIncrementMeridian: function(e, detail) {
                this.goMeridian(1);
            },
            _decrementMeridian: function (e, detail) {
                this.goMeridian(-1);
                this.interval = setInterval(this._decrementMeridian.bind(this), 200);
            },
            _pulsDecrementMeridian: function(e, detail) {
                this.goMeridian(-1);
            },
            _formatHours: function (value, showMeridian) {
                if (showMeridian) {
                    return zeroPad(value % 12 === 0 ? 12 : value % 12, 2);
                } else {
                    return zeroPad(value, 2);
                }
            },
            _formatMinute: function (value) {
                return zeroPad(value, 2);
            },
            goMinute: function (step) {
                var minuteNumber = Number(this.minute),
                    remainMinutes = (minuteNumber + step) % 60;
                if (remainMinutes >= 0) {
                    this.minute = remainMinutes;
                } else {
                    this.minute = 60 + remainMinutes;
                }
                this.goHour(Math.floor((minuteNumber + step) / 60));
            },
            goMeridian: function (step) {
                this.goHour(12 * step);
            },
            goHour: function (step) {
                var hourNumber = Number(this.hour),
                    remainHours = (hourNumber + step) % 24;
                if (remainHours >= 0) {
                    this.hour = remainHours;
                } else {
                    this.hour = 24 + remainHours;
                }
                this.meridian = meridians[Math.floor(Number(this.hour) / 12)];
            }
        });
    })();
</script>