<link rel="import" href="/resources/polymer/polymer/polymer.html">

<link rel="import" href="/resources/polymer/paper-button/paper-button.html">
<link rel="import" href="/resources/polymer/paper-dialog/paper-dialog.html">
<link rel="import" href="/resources/polymer/paper-toast/paper-toast.html">
<link rel="import" href="/resources/polymer/paper-spinner/paper-spinner.html">

<!-- <core-style id="toast-progress-indicator">
    paper-spinner { position: absolute; top: 9px; right: 9px; padding: 0px; margin: 0px;}
   
    paper-spinner.blue::shadow .circle { border-color: {{g.paperInput.focusedColor}}; }
</core-style> -->

<dom-module id="tg-toast">
    <style>
        
        paper-toast {
            left:auto;
        }
        /* style to truncate the toast text */
        
        /* :host::shadow * /deep/ .toast-text {
            max-width: 250px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        } */
        
        /* <core-style ref="toast-progress-indicator"></core-style> */
    </style>

    <template>
        <paper-toast id="toast" text="[[text]]"> <!-- TODO responsive-width="250px" -->
            <template is="dom-if" if="[[_shouldShowProgress]]">
                <paper-spinner id="spinner" active="[[showProgress]]" class="blue" alt="loading"></paper-spinner>
            </template>
            <template is="dom-if" if="[[_shouldShowMore(showProgress, hasMore)]]">
                <div style="color: #03A9F4;" on-tap="_showMessageDlg">More</div>
            </template>
        </paper-toast>

        <paper-dialog 
        	id="msgDialog" 
        	class="scrolling" 
        	with-backdrop 
        	no-cancel-on-outside-click 
        	entry-animation="scale-up-animation"
        	exit-animation="fade-out-animation"
        	layered="false">
        	
        	<p id="msgDialogText"></p>
            <paper-button dialog-confirm affirmative autofocus>Close</paper-button>
        </paper-dialog>
    </template>    
</dom-module>
    
<script>
    (function () {
        Polymer({
        	// attributes="msgHeading -- TODO was this ever needed?"
        	
        	is: 'tg-toast',
        	
        	properties: {
            	/////////////////////////////////////////////////////////////////////////////////////////////////////////
            	////////////////////////////////////////// EXTERNAL PROPERTIES //////////////////////////////////////////
            	/////////////////////////////////////////////////////////////////////////////////////////////////////////
            	// These mandatory properties must be specified in attributes, when constructing descendant elements.  //
            	// No default values are allowed in this case.														   //
            	/////////////////////////////////////////////////////////////////////////////////////////////////////////
            	
            	text: {
            		type: String
            	},
            	
            	msgText: {
            		type: String,
            		observer: '_msgTextChanged'
            	},
            	
                showProgress: {
                	type: Boolean                	
                },
                
                hasMore: {
                	type: Boolean
                },
                
             	/////////////////////////////////////////////////////////////////////////////////////////////////////////
             	//////////////////////////////// INNER PROPERTIES, THAT GOVERN CHILDREN /////////////////////////////////
             	/////////////////////////////////////////////////////////////////////////////////////////////////////////
             	// These properties derive from other properties and are considered as 'private' -- need to have '_'   //
             	//   prefix. 																				           //
             	// Also, these properties are designed to be bound to children element properties -- it is necessary to//
             	//   populate their default values in ready callback (to have these values populated in children)!     //
             	/////////////////////////////////////////////////////////////////////////////////////////////////////////
             	
                _shouldShowProgress: {
                	type: Boolean,
                	computed: '_shouldShowProgress0(showProgress, hasMore)'
                }
        	},

            _showMessageDlg: function (event) {
                this.$.msgDialog.toggle();
            },

            _shouldShowProgress0: function (progress, more) {
                return progress && !more;
            },

            _shouldShowMore: function (progress, more) {
                return !progress && more;
            },
            
            _msgTextChanged: function(newValue, oldValue) {
            	this.$.msgDialogText.innerHTML = newValue;
            },
            
            show: function () {
            	this.$.toast.show();
            }
        })
    })();
</script>
</polymer-element>