<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>Tooltip example</title>
    <script>
        // Force all polyfills on
        if (window.customElements) window.customElements.forcePolyfill = true;
        ShadyDOM = { force: true };
        ShadyCSS = { shimcssproperties: true};
      </script>
    <script src='/resources/polymer/@webcomponents/webcomponentsjs/webcomponents-bundle.js'></script>
    <script src='/resources/polymer/web-animations-js/web-animations-next-lite.min.js'></script>
    <script type="module">
        import '/resources/polymer/@polymer/paper-styles/paper-styles-classes.js';
        import './tg-component-with-tooltip.js';
    </script>

    <body unresolved class="fullbleed" tooltip-text="Shouldn't be visible">
        <tg-component-with-tooltip></tg-component-with-tooltip>
        <div>No tooltips</div>
    </body>

</html>