<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>Tooltip example</title>
    <script src="/resources/polymer/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="/resources/polymer/paper-styles/paper-styles-classes.html">
    <link rel="import" href="tg-component-with-tooltip.html">

    <body unresolved class="fullbleed" tooltip-text="Shouldn't be visible">
        <tg-component-with-tooltip></tg-component-with-tooltip>
        <div>No tooltips</div>
    </body>
    <script>
    </script>

</html>