<link rel="import" href="/resources/polymer/polymer/polymer.html">
<link rel="import" href="/resources/components/tg-tooltip.html">
<!--
Provides tooltip support for component that uses this behaviour. In order to set tooltip for specific element in the component, one should
mark element with tooltip-text attribute.
-->
<script>
    (function () {
        var toolTipElement = document.createElement("tg-tooltip");
        /**
         * Returns the element in hierarchy that has tooltip-id attribute set otherwise returns null.
         */
        var extractActiveElement = function (currentElement, thisElement) {
            if (currentElement && currentElement !== thisElement.parentElement) {
                if (currentElement.hasAttribute("tooltip-text")) {
                    return currentElement;
                } else {
                    return extractActiveElement(currentElement.parentElement, thisElement);
                }
            }
            return null;
        };
        //Adds tooltip element to document's body so that it only one for all tooltips.
        Polymer.dom(document.body).appendChild(toolTipElement);
        Polymer.dom.flush();

        Polymer.TgBehaviors = Polymer.TgBehaviors || {};
        Polymer.TgBehaviors.TgTooltipBehavior = {
            properties: {
                triggerManual: {
                    type: String,
                    observer: "_triggerManualChanged"
                },

                /**
                 * Saved mouse positions.
                 */
                _mousePosX: Number,
                _mousePosY: Number,
                /**
                 * The handle for tooltip timer can be used to cancel tooltip timer. (Tooltip timer - the timer for tooltip to be shown).
                 */
                _tooltipTimer: {
                    type: Number
                },
                /**
                 * Element under mouse pointer, for which tooltip should be shown. Also this element should be marked with tooltip-id attribute.
                 */
                _activeComponent: {
                    type: Object
                }
            },

            ready: function () {
                this._handleMouseMove = this._handleMouseMove.bind(this);
                this._handleTooltipAtMousePos = this._handleTooltipAtMousePos.bind(this);
                this._hideTooltip = this._hideTooltip.bind(this);
                //Register mouse listeners for mouse events     
                this.addEventListener('mousemove', this._handleMouseMove);
                //Set the default values for properties.
                this.triggerManual = false;
            },

            /**
             * Displayes the tooltip with specified text at current mouse position.
             */
            showTooltip: function (tooltipText) {
                Polymer.dom(toolTipElement).innerHTML = tooltipText;
                toolTipElement.showAt(this._mousePosX, this._mousePosY);
            },

            /**
             * Hides the tooltip.
             */
            hideTooltip: function () {
                if (toolTipElement._showing) {
                    toolTipElement.hide();
                }
            },

            /**
             * Observer for _triggerManual property.
             */
            _triggerManualChanged: function (newValue, oldValue) {
                if (newValue) {
                    this.removeEventListener('mousemove', this._handleTooltipAtMousePos);
                    this.removeEventListener('mouseleave', this._hideTooltip);
                } else {
                    this.addEventListener('mousemove', this._handleTooltipAtMousePos);
                    this.addEventListener('mouseleave', this._hideTooltip);
                }
            },

            /**
             * Saves the mouse position in _mousePosX and _mousePosY properties.
             */
            _handleMouseMove: function (event) {
                this._mousePosX = event.pageX;
                this._mousePosY = event.pageY;
            },

            /**
             * Handler that determines when to show tooltip on mouse move event amd when to hide it.
             */
            _handleTooltipAtMousePos: function (event) {
                var currentActiveElement = extractActiveElement(event.target, this);

                if (currentActiveElement !== this._activeComponent) {
                    this._hideTooltip();
                    this._activeComponent = currentActiveElement;
                }
                var tooltipText = this._activeComponent && this._activeComponent.getAttribute("tooltip-text");
                if (tooltipText !== null && tooltipText.length > 0) {
                    if (this._tooltipTimer) {
                        this.cancelAsync(this._tooltipTimer);
                        this._tooltipTimer = null;
                    }
                    this._tooltipTimer = this.async(function () {
                        this.showTooltip(tooltipText);
                    }, 1000);
                }
            },

            /**
             * Hides the tooltip. Used as a mouse handler for mouse leave event. 
             */
            _hideTooltip: function () {
                this.hideTooltip();
                if (this._tooltipTimer) {
                    this.cancelAsync(this._tooltipTimer);
                    this._tooltipTimer = null;
                }
            }
        };
    })();
</script>