<link rel="import" href="/resources/polymer/polymer/polymer.html">
<link rel="import" href="/resources/polymer/iron-list/iron-list.html">
<link rel="import" href="/resources/polymer/iron-scroll-threshold/iron-scroll-threshold.html">

<dom-module id="tg-number-selector">
    <style>
    </style>
    <template>
        <iron-scroll-threshold on-lower-threshold="_loadNextNumbers" on-upper-threshold="_loadPreviousNumbers" lower-threshold="50" upper-threshold="50" id="threshold">
            <iron-list scroll-target="threshold" items="[[numbers]]" selected-item="{{selectedNumber}}">
                <template>
                    <div class="year-item layout horizontal center-center" selected$="[[selected]]">[[item]]</div>
                </template>
            </iron-list>
        </iron-scroll-threshold>
    </template>
</dom-module>
<script>
    (function () {
        Polymer({

            is: "tg-number-selector",

            properties: {
                selectedNumber: {
                    type: Number,
                    notify: true,
                    observer: "_selectedNumberChanged"
                },
                numbersToLoadAtOnce: {
                    type: Number,
                    value: 10
                },
                numbers: Array,
            },
            
            _selectedNumberChanged: function (newValue, oldValue) {
                if (!this.numbres) {
                    this.numbres = [];
                }
            },

            attached: function () {
                this._lastPastYear = this._loadPastYears();
                this._lastFutureYear = this._loadFutureYears();
                this.years.push(this.selectedYear);
            },
            
            _loadPreviousNumbers: function () {
                var year = this._lastPastYear || this.selectedYear;
                var yearCounter;
                for (yearCounter = 1; yearCounter < this.yearIncrement; yearCounter++) {
                    year-=1;
                    this.years.unshift(year);
                }
                this._lastPastYear = year;
            },
            
            _loadFutureYears: function () {
                var year = this._lastFutureYear || this.selectedYear;
                var yearCounter;
                for (yearCounter = 1; yearCounter < this.yearIncrement; yearCounter++) {
                    year+=1;
                    this.years.push(year);
                }
                this._lastFutureYear = year;
            },
        });
    })();
</script>