<link rel="import" href="/resources/polymer/polymer/polymer.html">

<link rel="import" href="/resources/polymer/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="/resources/polymer/iron-resizable-behavior/iron-resizable-behavior.html">

<link rel="import" href="/resources/components/tg-tooltip-behavior.html">
<link rel="import" href="d3-bar-chart.html">

<dom-module id="tg-bar-chart">

    <template>
        <style>
            :host {
                @apply(--layout-horizontal);

            }
            svg {
                @apply(--layout-flex);

            }
            .chart-background {
                fill: white;
            }
            .grid path,
            .grid line {
                fill: none;
            }
            .grid path {
                stroke: none;
            }
            .grid line {
                stroke: #e3e3e3;
            }
            .bar {
                fill: steelblue;
                vector-effect: non-scaling-stroke;
            }
            .bar:hover {
                stroke: white;
                stroke-width: 1px;
                cursor: pointer;
            }
            .chart-label,
            .x-axis-label,
            .y-axis-label {
                font-family: sans-serif;
                font-size: 12px;
                stroke: none;
                fill: #000;
                pointer-events: none;
            }
            .chart-label {
                font-weight: bold;
            }
            .marker[selected] .mark-rect {
                fill: white;
            }
            .mark-text {
                font-family: sans-serif;
                font-size: 10px;
                stroke: none;
                fill: #000;
                pointer-events: none;
            }
            .mark-rect {
                fill: #d8d7ba;
                stroke: #e3e3e3;
                vector-effect: non-scaling-stroke;
                pointer-events: none;
            }
        </style>

        <!-- local DOM for your element -->
        <svg id="chart" class="bar-chart"></svg>
        <!-- data bindings in local DOM -->
    </template>

    <script>
        (function () {
            // element registration
            Polymer({
                is: "tg-bar-chart",

                // add properties and methods on the element's prototype

                properties: {
                    // Declare properties for the element's public API
                    data: {
                        type: Array,
                        observer: "_dataChanged"
                    },

                    options: {
                        type: Object,
                        observer: "_chartOptionsChanged"
                    },

                    _chart: Object
                },

                behaviors: [Polymer.IronResizableBehavior, Polymer.TgBehaviors.TgTooltipBehavior],

                ready: function () {
                    this._chart = d3.barChart(this.$.chart);
                    if (this.data) {
                        this._chart.data(this.data);
                    }
                    if (this.options) {
                        this._chart.options(this.options);
                    }
                    this.scopeSubtree(this.$.chart, true);
                    this.addEventListener("iron-resize", this._resizeEventListener.bind(this));
                },

                attached: function () {
                    this._waitForDimensions(0);
                },
                
                selectEntity: function (entity, select) {
                    if (this._chart) {
                        this._chart.selectEntity(entity, select);
                    }
                },
                
                repaint: function () {
                    if (this._chart) {
                        this._chart.repaint();
                    }
                },

                _waitForDimensions: function (time) {
                    var self = this;
                    this.async(function () {
                        if (this.offsetWidth && this.offsetHeight && this._chart) {
                            this._chart.options({
                                width: self.offsetWidth,
                                height: self.offsetHeight
                            });
                        } else {
                            this._waitForDimensions(100);
                        }
                    }, time);
                },

                _dataChanged: function (newData, oldData) {
                    if (this._chart) {
                        this._chart.data(newData);
                    }
                },

                _chartOptionsChanged: function (newOptions, oldOptions) {
                    if (this._chart) {
                        this._chart.options(newOptions);
                    }
                },

                _resizeEventListener: function (event, details) {
                    var self = this;
                    if (this._chart) {
                        this._chart.options({
                            width: self.offsetWidth,
                            height: self.offsetHeight
                        });
                    }
                }
            });
        })();
    </script>

</dom-module>