<link rel="import" href="/resources/polymer/paper-icon-button/paper-icon-button.html">

<script>
    Polymer.TgBehaviors = Polymer.TgBehaviors || {};
    Polymer.TgBehaviors.TgBackButtonBehavior = {
        
        /**
         * Creates dynamically the 'dom-bind' template which holds back button.
         */
        createBackButton: function () {
            const domBind = document.createElement('template', 'dom-bind');
            domBind._back = this._back;
            
            const div = domBind.content.ownerDocument.createElement('div');
            div.innerHTML = '<paper-icon-button id="backButton" icon="arrow-back" tooltip-text="Back" on-tap="_back"></paper-icon-button>';
            
            domBind.content.appendChild(div);
            return domBind;
        },
        
        /**
         * Performs going back from this dialog, which means dialog closing if it is possible.
         */
        _back: function () {
            history.back();
        }
        
    };
</script>