    core-icon-button /deep/ core-icon[role="img"] {
        height: 1.1em;
        width: 1.1em;
        padding: 0px;
        margin: 0px;
        vertical-align: top;
    }
    
    .search-button {
        padding: 0px;
        margin: 0px;
        height: 1.0em;
        width: 1.0em;
        font: inherit;
    }
    
    .search-button-invisible {
        padding: 0px;
        margin: 0px;
        height: 1.0em;
        width: 1.0em;
        font: inherit;
        visibility: hidden;
    }
    /*paper-spinner.blue::shadow .circle {
        border-color: black;
    }*/
    
    core-overlay.tg-snatchback {
        background-color: #FFFFFF;
        color: #000;
        min-width: 250px;
        /*border: 1px solid #ccc;*/
        /*border-radius: 3px;*/
        
        padding: 0px;
        /*min-width: 150px;*/
        
        overflow: visible;
    }
    
    .tg-snatchback-suggestions {
        padding: 0px;
        overflow: scroll;
        max-height: 300px;
        /* should depend on the target element, and adjust dynamically */
    }
    
    .tg-item {
        font-size: small;
        overflow: visible;
    }
    
    .key-value {
        font-size: small;
        min-width: 100px;
    }
    /* this is how only not selected values get their matched parts highlighted*/
    
    paper-item:not(.core-selected) .key-value-highlighted {
        background-color: #ffff46;
    }
    
    .additional-prop {
        font-size: x-small;
        min-width: 150px;
        white-space: normal;
        padding-left: 1em;
        padding-top: 0.5em;
        line-height: 15px;
    }
    
    .prop-name {
        font-weight: bold;
        padding-right: 0.5em;
    }
    
    .tg-item:hover {
        cursor: pointer;
        background: #E1F5FE;
        color: #03A9F4;
    }
    
    .tg-item.core-selected {
        background: #03A9F4;
        color: #E1F5FE;
    }
    
    .tg-snatchback-button {
        color: #03A9F4;
    }