<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>scrollable component test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <script src="/resources/polymer/@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
    <script src="/resources/polymer/wct-browser-legacy/browser.js"></script>
</head>

<body>

    <test-fixture id="scrollableTest">
        <template>
            <tg-scrollable-component>
                <div>TEST</div>
                <div>TEST</div>
                <div>TEST</div>
                <div>TEST</div>
                <div>TEST</div>
                <div>TEST</div>
                <div>TEST</div>
                <div>TEST</div>
                <div>TEST</div>
            </tg-scrollable-component>
        </template>
    </test-fixture>

    <script type="module">
        import '../tg-scrollable-component.js';
        suite('<tg-scrollable-component>', function () {
            let scrollableComponent;
            setup(function () {
                scrollableComponent = fixture('scrollableTest');
            });
            test('can be raised imperatively', function (done) {
                done();
            });
        });
    </script>
</body>

</html>