<link rel="import" href="/resources/polymer/polymer/polymer.html">
<link rel="import" href="/resources/polymer/iron-icon/iron-icon.html">
<link rel="import" href="/resources/polymer/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="/resources/views/tg-view.html">
<link rel="import" href="/resources/views/tg-view-with-menu.html">

<dom-module id="tg-app-view">
    <style>
        .item-bg {
            width: 512px;
            height: 512px;
        }
        .item-bg > core-icon {
            position: absolute;
            height: 100%;
            width: 100%;
        }
    </style>
    <template>
        <div class="fit layout vertical center-center" style="[[_calcStyleForThisItem()]]">
            <div class="item-bg relative">
                <iron-icon class="fit" style="[[_calcSvgStyleForThisItem()]]" src="[[menuItem.detailIcon]]"></iron-icon>
            </div>
        </div>
        <div class="flex layout vertical"> <!-- cross-fade animation here -->
            <template is="dom-if" if="[[!menuItem.menu]]">
                <tg-view class="fit" id="view" auto-load="[[autoLoad]]" menu-item="[[_getMenuItem()]]"></tg-view>
            </template>
            <template is="dom-if" if="[[menuItem.menu]]">
                <tg-view-with-menu class="fit" id="view" menu-item="[[_getMenuItem()]]"></tg-view-with-menu>
            </template>
        </div>


    </template>
</dom-module>
<script>
    (function () {
        Polymer({

            is: "tg-app-view",

            properties: {
                menuItem: Object,
                autoLoad: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                }
            },

            load: function () {
                this.$$("#view").load();
            },
            _calcStyleForThisItem: function () {
                return "background-color: " + menuItem.bgColor + ";";
            },
            _calcSvgStyleForThisItem: function () {
                return "color: " + menuItem.bgColor + "; opacity:0.5;";
            },
            _getMenuItem: function() {
                return this.menuItem;
            }
        });
    })();
</script>