<link rel="import" href="/resources/polymer/polymer/polymer.html">
<link rel="import" href="/resources/polymer/iron-icon/iron-icon.html">
<link rel="import" href="/resources/polymer/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="/resources/views/tg-view.html">
<link rel="import" href="/resources/polymer/neon-animation/neon-animation.html">
<link rel="import" href="/resources/views/tg-view-with-menu.html">
<link rel="import" href="/resources/polymer/iron-resizable-behavior/iron-resizable-behavior.html">

<dom-module id="tg-app-view">
    <style>
        .item-bg {
            width: 512px;
            height: 512px;
        }
        .item-bg > iron-icon {
            position: absolute;
            height: 100%;
            width: 100%;
        }
    </style>
    <template>
        <div class="fit layout vertical center-center" style$="[[_calcStyleForItem(menuItem)]]">
            <div class="item-bg relative">
                <iron-icon class="fit" style$="[[_calcSvgStyleForItem(menuItem)]]" icon="[[menuItem.detailIcon]]"></iron-icon>
            </div>
        </div>
        <div class="flex layout vertical">
            <!--cross-fade animation here-->
            <template is="dom-if" if="[[!menuItem.menu]]">
                <tg-view class="fit" id="view" auto-load="[[autoLoad]]" menu-item="[[menuItem]]" selected-module="[[selectedModule]]"></tg-view>
            </template>
            <template is="dom-if" if="[[menuItem.menu]]">
                <tg-view-with-menu class="fit" id="view" menu-item="[[menuItem]]" selected-module="[[selectedModule]]" submodule="{{submodule}}"></tg-view-with-menu>
            </template>
        </div>


    </template>
</dom-module>
<script>
    (function () {
        Polymer({

            is: "tg-app-view",

            properties: {
                menuItem: Object,
                selectedModule: String,
                submodule: {
                    type: Object,
                    notify: true
                },
                autoLoad: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },
                animationConfig: {
                    value: function () {
                        return {};
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimatableBehavior,
                Polymer.TgBehaviors.TgAppAnimationBehavior,
                Polymer.IronResizableBehavior
            ],

            /**
             * Is called before moving on to page that implements this behavior. Prev - the name of previously selected page.
             */
            configureEntryAnimation: function (prev) {
                this.animationConfig = {
                    'entry': [{
                        animatable: this.$$("#view"),
                        type: 'entry'
                    }]
                };
                this.sharedElements = {};
                if (prev === "menu") {
                    this.animationConfig['entry'].push({
                        name: 'hero-animation',
                        id: 'hero',
                        toPage: this
                    });
                    this.sharedElements = {
                        'hero': this
                    };
                } else {
                    this.animationConfig['entry'].push({
                        name: 'fade-in-animation',
                        node: this
                    });
                }
            },

            /**
             * Is called before moving out of the page that implements this behavior. Next - the name of next selected page.
             */
            configureExitAnimation: function (next) {
                this.animationConfig = {
                    'exit': [{
                        animatable: this.$$("#view"),
                        type: 'exit'
                    }]
                };
                this.sharedElements = {};
                if (next === "menu") {
                    this.animationConfig['exit'].push({
                        name: 'hero-animation',
                        id: 'hero',
                        fromPage: this
                    });
                    this.sharedElements = {
                        'hero': this
                    };
                }
                this.animationConfig['exit'].push({
                    name: 'fade-out-animation',
                    node: this
                });
            },
            
            getSelectedPage: function () {
                var view = this.$$("#view");
                if (view.getSelectedPage) {
                    return view.getSelectedPage();
                }
            },

            load: function () {
                this.$$("#view").load();
            },
            
            canLeave: function() {
                return this.$$("#view").canLeave();
            },
            
            _calcStyleForItem: function (menuItem) {
                return "background-color: " + menuItem.bgColor + ";";
            },
            _calcSvgStyleForItem: function (menuItem) {
                return "color: " + menuItem.bgColor + "; opacity:0.5;";
            }
        });
    })();
</script>