<link rel="import" href="/resources/polymer/polymer/polymer.html">
<link rel="import" href="/resources/polymer/paper-icon-button/paper-icon-button.html">

<polymer-element name="tg-my-profile" layout vertical>
    <template>
        <style>
            .caption {
                position: absolute; 
                bottom: 0; 
                right: 0; 
                left: 0; 
                background-color: #999999;
                color: white;
                font-size: 18pt;
                padding: 10px;
            }
            .front-page {
                background-color: #f4f4f4;
                font-size: 40pt;
            }
        </style>
        <div layout horizontal center-center fit class="front-page">
            <span>My profile</span>
        </div>
        <div layout horizontal justified center class="caption">
            <div>Go to menu</div>
            <paper-icon-button icon="arrow-forward" on-tap="{{onMain}}"></paper-icon-buton>
        </div>
    </template>
    <script>
        (function () {
            Polymer({
                onMain: function(e, detail, source) {
                    this.fire("main-menu");
                }
            });
        })();
    </script>
</polymer-element>