<link rel="import" href="/resources/polymer/polymer/polymer.html">
<link rel="import" href="/resources/polymer/iron-icons/iron-icons.html">
<link rel="import" href="/resources/polymer/paper-fab/paper-fab.html">
<link rel="import" href="/resources/components/postal-lib.html">
<link rel="import" href="/resources/views/tg-menu-item-view.html">
<link rel="import" href="/resources/polymer/neon-animation/neon-animation.html">

<dom-module id="tg-view">
    <style>
        :host {
            --paper-fab-background: #fcfcfc;
            --paper-fab: {
                color: #666464;
                position: absolute;
                top: 16px;
                right: 16px;
                z-index: 1;
                width: 50px;
                height: 50px;
            };
        }
        .tool-bar {
            padding: 0 16px;
            height: 44px;
            font-size: 18px;
            color: white;
            background-color: #0288D1
        }
        .view {
            background-color: white;
        }
    </style>
    <template>
        <div id="toolbar" class="tool-bar layout horizontal center">
            <!-- slide-down animation -->
            <div class="flex">[[menuItem.title]]</div>
            <paper-fab id="fab" icon="apps" on-tap="_showMenu"></paper-fab>
            <!-- scale-up animation -->
        </div>
        <div id="viewContainer">
            <tg-menu-item-view id="menuItemView" auto-load?="[[autoLoad]]" menu-item="[[menuItem]]" on-menu-item-view-loaded="_menuItemLoaded"></tg-menu-item-view>
        </div>
        <!-- slide-up animation -->
    </template>
</dom-module>
<script>
    (function () {
        var statePushed = function (data) {
            postal.publish({
                channel: "app",
                topic: "state.pushed",
                data: data
            });
        };
        Polymer({

            is: "tg-view",

            properties: {
                menuItem: Object,
                autoLoad: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },
                animationConfig: {
                    value: function () {
                        return {
                            'entry': [
                                {
                                    name: 'slide-down-animation',
                                    node: this.$.toolbar
                                }, {
                                    name: 'transform-animation',
                                    node: this.$.viewContainer,
                                    transformFrom: "translateY(100%)",
                                    tranformTo: "none"
                                }, {
                                    name: 'scale-up-animation',
                                    node: this.$.fab,
                                    timing: {
                                        delay: 400
                                    }
                                }
                            ],
                            'exit': [
                                {
                                    name: 'slide-up-animation',
                                    node: this.$.toolbar
                                }, {
                                    name: 'transform-animation',
                                    node: this.$.viewContainer,
                                    transformFrom: "none",
                                    transformTo: "translateY(100%)"
                                }, {
                                    name: 'scale-down-animation',
                                    node: this.$.fab
                                }
                            ]
                        };
                    }
                }
            },

            behaviors: [
                Polymer.NeonAnimatableBehavior
            ],

            hostAttributes: {
                "class": "layout vertical"
            },

            ready: function () {
                var self = this;
                postal.subscribe({
                    channel: this.menuItem.title,
                    topic: "state.push",
                    callback: function (data, envelope) {
                        history.pushState(data.state, "");
                        if (!self.$.menuItemView.wasLoaded()) {
                            self.$.menuItemView.load();
                        } else {
                            statePushed(data);
                        }
                    }
                });
                postal.subscribe({
                    channel: this.menuItem.title,
                    topic: "state.pop",
                    callback: function (data, envelope) {
                        postal.publish({
                            channel: "app",
                            topic: "state.poped",
                            data: data
                        });
                    }
                });
            },
            _menuItemLoaded: function (e, detail, source) {
                statePushed({
                    state: [detail.title]
                });
            },
            _showMenu: function (e, detail, source) {
                this.fire("main-menu");
            }
        });
    })();
</script>