<link rel="import" href="/resources/polymer/polymer/polymer.html">
<link rel="import" href="/resources/polymer/core-animated-pages/core-animated-pages.html">
<link rel="import" href="/resources/polymer/core-toolbar/core-toolbar.html">
<link rel="import" href="/resources/polymer/core-menu/core-menu.html">
<link rel="import" href="/resources/polymer/core-menu/core-submenu.html">
<link rel="import" href="/resources/polymer/core-icons/core-icons.html">
<link rel="import" href="/resources/polymer/core-icon-button/core-icon-button.html">
<link rel="import" href="/resources/polymer/core-item/core-item.html">
<link rel="import" href="/resources/polymer/core-drawer-panel/core-drawer-panel.html">
<link rel="import" href="/resources/polymer/paper-fab/paper-fab.html">
<link rel="import" href="/resources/components/postal-lib.html">

<polymer-element name="tg-view-with-menu" attributes="item selectedItem" layout vertical>
    <template>
        <style>
            core-toolbar {
                height: 100px;
                background-color: #0288D1;
                color: white;
                font-size: 24px;
            }
            core-toolbar::shadow #topBar {
                height: 100px;
            }
            paper-fab {
                position: absolute;
                z-index: 1;
                bottom: -28px;
                right: 20px;
                background-color: #fcfcfc;
                color: #666464;
            }
            core-menu > * {
                padding-left: 22px;
                font-size: 13px;
            }
            core-menu {
                color: #01579b;
                margin: 10px 0 0 0;
            }
            core-menu core-submenu::shadow core-item::shadow core-icon {
                order: 2;
            }
            core-menu core-submenu::shadow core-item::shadow #label {
                flex: 1;
            }
            core-menu > core-item,
            core-menu > core-submenu::shadow > core-item,
            core-menu > core-submenu > core-item {
                transition: all 300ms ease-in-out;
            }
            #drawerPanel[narrow] [drawer] {
                background-color: white
            }
            #drawerPanel:not([narrow]) #menuButton {
                display: none;
            }
            .item {
                background-color: white;
            }
        </style>

        <core-drawer-panel id="drawerPanel" disableSwipe>

            <div vertical layout drawer>

                <core-toolbar slide-down>{{item.title}}</core-toolbar>
                <core-menu selected="{{selected}}" slide-up>
                    <template repeat="{{menu in item.menu}}">
                        <template if="{{menu.submenu}}">
                            <core-submenu selected="{{subSelected}}" name="{{menu.title}}" label="{{menu.title}}" icon="icons:expand-more">
                                <template repeat="{{subMenu in menu.submenu}}">
                                    <core-item name="{{subMenu.title}}" label="{{subMenu.title}}"></core-item>
                                </template>
                            </core-submenu>
                        </template>
                        <template if="{{!menu.submenu}}">
                            <core-item name="{{menu.title}}" label="{{menu.title}}"></core-item>
                        </template>
                    </template>
                </core-menu>

            </div>

            <div main vertical layout>

                <core-toolbar slide-down>
                    <core-icon-button id="menuButton" icon="menu" on-tap="{{togglePanel}}"></core-icon-button>
                    <div flex>{{item.title + (selected === '__empty__' ? '' : ('->' + selected)) + (subSelected ? ('->' + subSelected) : '')}}</div>
                    <paper-fab icon="apps" on-tap="{{onShowMenuTap}}" scale-up></paper-fab>
                </core-toolbar>

                <core-animated-pages selectedItem="{{selectedItem}}" transitions="slide-up" selected="{{selected + (subSelected ? ('/' + subSelected) : '') }}" on-core-select="{{onPageSelected}}" flex>
                    <div name="__empty__">
                        <div slide-up></div>
                    </div>

                    <template repeat="{{page in item.menu}}">
                        <div name="{{page.title}}">
                            <div class="item" slide-up>{{page.title}}</div>
                        </div>
                        <template if="{{page.submenu}}">
                            <template repeat="{{subPage in page.submenu}}">
                                <div name="{{page.title + '/' + subPage.title}}">
                                    <div class="item" slide-up>{{subPage.title}}</div>
                                </div>
                            </template>
                        </template>
                    </template>
                </core-animated-pages>

            </div>


        </core-drawer-panel>

    </template>
    <script>
        (function () {
            Polymer({
                ready: function () {
                    var self = this;
                    self.startUp = true;
                    self.selected = "__empty__";
                    postal.subscribe({
                        channel: self.item.title,
                        topic: "state.push",
                        callback: function (data, envelope) {
                            var newState = data.state;
                            if (self.selected) {
                                newState.push(self.selected);
                            }
                            if (self.subSelected) {
                                newState.push(self.subSelected);
                            }
                            history.pushState(newState);
                            postal.publish({
                                channel: "app",
                                topic: "state.pushed",
                                data: {
                                    state: newState
                                }
                            });
                        }
                    });
                    postal.subscribe({
                        channel: self.item.title,
                        topic: "state.pop",
                        callback: function (data, envelope) {
                            if (data.state[1] === self.selected && ((data.state[2] && data.state[2] === self.subSelected) || (!data.state[2] && !self.subSelected))) {
                                postal.publish({
                                    channel: "app",
                                    topic: "state.poped",
                                    data: data
                                });
                            } else {
                                self.restoringState = true;
                                self.selected = data.state[1];
                                if (data.state[2]) {
                                    self.subSelected = data.state[2];
                                } else {
                                    self.subSelected = null;
                                }
                            }
                        }
                    });
                },
                togglePanel: function () {
                    this.$.drawerPanel.togglePanel();
                },
                onShowMenuTap: function () {
                    this.fire("main-menu");
                },
                onPageSelected: function (e, detail, source) {
                    var state;
                    if (detail.isSelected) {
                        state = [this.item.title, this.selected];
                        if (this.subSelected) {
                            state.push(this.subSelected);
                        }
                        if (this.startUp) {
                            this.startUp = false;
                        } else if (this.restoringState) {
                            this.restoringState = false;
                            postal.publish({
                                channel: "app",
                                topic: "state.poped",
                                data: {
                                    state: state
                                }
                            });
                        } else {
                            history.pushState(state);
                            this.$.drawerPanel.closeDrawer();
                        }
                    }
                }
            });
        })();
    </script>
</polymer-element>