<link rel="import" href="/resources/polymer/polymer/polymer.html">
<link rel="import" href="/resources/polymer/core-animated-pages/core-animated-pages.html">
<link rel="import" href="/resources/polymer/core-toolbar/core-toolbar.html">
<link rel="import" href="/resources/polymer/core-menu/core-menu.html">
<link rel="import" href="/resources/polymer/core-menu/core-submenu.html">
<link rel="import" href="/resources/polymer/core-icons/core-icons.html">
<link rel="import" href="/resources/polymer/core-icon-button/core-icon-button.html">
<link rel="import" href="/resources/polymer/core-item/core-item.html">
<link rel="import" href="/resources/polymer/core-drawer-panel/core-drawer-panel.html">
<link rel="import" href="/resources/polymer/paper-fab/paper-fab.html">
<link rel="import" href="/resources/views/tg-nested-view.html">

<polymer-element name="tg-view-with-menu" attributes="item selectedItem" layout vertical>
    <template>
        <style>
            core-toolbar {
                height: 100px;
                background-color: #0288D1;
                color: white;
                font-size: 24px;
            }
            core-toolbar::shadow #topBar {
                height: 100px;
            }
            paper-fab {
                position: absolute;
                z-index: 1;
                bottom: -28px;
                right: 20px;
                background-color: #fcfcfc;
                color: #666464;
            }
            core-menu > * {
                padding-left: 22px;
                font-size: 13px;
            }
            core-menu {
                color: #01579b;
                margin: 10px 0 0 0;
            }
            core-menu core-submenu::shadow core-item::shadow core-icon {
                order: 2;
            }
            core-menu core-submenu::shadow core-item::shadow #label {
                flex: 1;
            }
            core-menu > core-item,
            core-menu > core-submenu::shadow > core-item,
            core-menu > core-submenu > core-item {
                transition: all 300ms ease-in-out;
            }
            #drawerPanel:not([narrow]) #menuButton {
                display: none;
            }
            .item {
                background-color: white;
            }
        </style>

        <core-drawer-panel id="drawerPanel" disableSwipe>

            <div vertical layout drawer>

                <core-toolbar>{{item.name}}</core-toolbar>
                <core-menu selected="{{selected}}" on-core-select="{{onMenuItemSelected}}">
                    <template repeat="{{menu in item.menu}}">
                        <template if="{{menu.submenu}}">
                            <core-submenu selected="{{subSelected}}" name="{{menu.name}}" label="{{menu.name}}" icon="icons:expand-more">
                                <template repeat="{{subMenu in menu.submenu}}">
                                    <core-item name="{{subMenu.name}}" label="{{subMenu.name}}"></core-item>
                                </template>
                            </core-submenu>
                        </template>
                        <template if="{{!menu.submenu}}">
                            <core-item name="{{menu.name}}" label="{{menu.name}}"></core-item>
                        </template>
                    </template>
                </core-menu>

            </div>

            <div main vertical layout>

                <core-toolbar slide-down>
                    <core-icon-button id="menuButton" icon="menu" on-tap="{{togglePanel}}"></core-icon-button>
                    <div flex>{{item.name + '->' + selected + (subSelected ? ('->' + subSelected) : '')}}</div>
                    <paper-fab icon="apps" on-tap="{{onShowMenuTap}}" scale-up></paper-fab>
                </core-toolbar>

                <core-animated-pages selectedItem="{{selectedItem}}" transitions="slide-up" selected="{{selected + (subSelected ? ('/' + subSelected) : '') }}" flex>
                    <template repeat="{{page in item.menu}}">
                        <div name="{{page.name}}">
                            <div class="item" slide-up>{{page.name}}</div>
                        </div>
                        <template if="{{page.submenu}}">
                            <template repeat="{{subPage in page.submenu}}">
                                <div name="{{page.name + '/' + subPage.name}}">
                                    <div class="item" slide-up>{{subPage.name}}</div>
                                </div>
                            </template>
                        </template>
                    </template>
                </core-animated-pages>

            </div>


        </core-drawer-panel>

    </template>
    <script>
        (function () {
            Polymer({
                ready: function () {
                    this.selected = this.item.menu[0].name;
                },
                togglePanel: function () {
                    this.$.drawerPanel.togglePanel();
                },
                onShowMenuTap: function () {
                    this.fire("main-menu");
                },
                onMenuItemSelected: function (e, detail, source) {
                    var state;
                    if (detail.isSelected) {
                        if (this.lastSelected) {
                            state = [this.item.name, this.lastSelected];
                            if (this.lastSubSelected) {
                                state.push(this.lastSubSelected);
                            }
                            history.pushState(state);
                        }
                        this.$.drawerPanel.closeDrawer();
                        this.lastSelected = this.selected;
                        this.lastSubSelected = this.subSelected;
                    }
                }
            });
        })();
    </script>
</polymer-element>