<link rel="import" href="/resources/polymer/polymer/polymer.html">
<link rel="import" href="/resources/polymer/core-toolbar/core-toolbar.html">
<link rel="import" href="/resources/polymer/core-icons/core-icons.html">
<link rel="import" href="/resources/polymer/paper-fab/paper-fab.html">
<link rel="import" href="/resources/components/postal-lib.html">
<link rel="import" href="/resources/element_loader/load-element.html">

<polymer-element name="tg-view" attributes="item" vertical layout>
    <template>
        <style>
            core-toolbar {
                height: 100px;
                background-color: #0288D1;
                color: white;
                font-size: 24px;
            }
            core-toolbar::shadow #topBar {
                height: 100px;
            }
            paper-fab {
                position: absolute;
                z-index: 1;
                bottom: -28px;
                right: 20px;
                background-color: #fcfcfc;
                color: #666464;
            }
            .view {
                background-color: white;
            }
        </style>


        <core-toolbar slide-down>
            <div flex>{{item.title}}</div>
            <paper-fab icon="apps" on-tap="{{onShowMenuTap}}" scale-up></paper-fab>
        </core-toolbar>

        <template if="{{item.view}}">
            <load-element id="elementToLoad" slide-up import="{{item.view.import}}" elementName="{{item.view.elementName}}" attrs="{{item.view.attrs}}" on-after-load="{{onAfterLoad}}"></load-element>
        </template>
        <template if="{{!item.view}}">
            <div class="view" slide-up>
                Please specify view for {{item.title}}.
            </div>
        </template>
    </template>
    <script>
        (function () {
            var statePushed = function (data) {
                postal.publish({
                    channel: "app",
                    topic: "state.pushed",
                    data: data
                });
            };
            Polymer({
                ready: function () {
                    var self = this;
                    postal.subscribe({
                        channel: this.item.title,
                        topic: "state.push",
                        callback: function (data, envelope) {
                            history.pushState(data.state);
                            if (self.item.view) {
                                self.$.elementToLoad.load();
                            } else {
                                statePushed(data);
                            }
                        }
                    });
                    postal.subscribe({
                        channel: this.item.title,
                        topic: "state.pop",
                        callback: function (data, envelope) {
                            postal.publish({
                                channel: "app",
                                topic: "state.poped",
                                data: data
                            });
                        }
                    });
                },
                onAfterLoad: function (e, detail, source) {
                    var self = this;
                    if (this.item.view.type === 'centre') {
                        detail.onRetrieved = function (entity, bindingEntity, customObject) {
                            statePushed({state: [self.item.title]});
                        };
                        detail.retrieve();
                    } else if (this.item.view.type === 'master') {
                        detail.onRetrieved = function (entity, bindingEntity, customObject) {
                            statePushed({state: [self.item.title]});
                        };
                        detail.onValidated = function (validatedEntity, bindingEntity, customObject) {};
                        detail.onSaved = function (potentiallySavedEntity, newBindingEntity) {};
                        detail.retrieve({state: [self.item.title]});
                    } else {
                        statePushed();
                    }
                },
                onShowMenuTap: function () {
                    this.fire("main-menu");
                }
            });
        })();
    </script>
</polymer-element>