table {
    border-collapse: collapse;
}
th, td {
    padding: 0.75em 1.5em;
}
th {
    cursor: default;
}
td {
    color: #607D8B;
    cursor: pointer;
}
.table-container {
    overflow-y: auto;
    overflow-x: hidden;
}
.normal-color {
    background-color: white;
}
.alternate-color {
    background-color: #F5F5F5;
}
.header-color {
    background-color: #0288D1;
    color: white;
}
* /deep/ core-tooltip::shadow #tooltip {
    white-space: normal;
}
* /deep/ core-tooltip .span-tooltip {
    line-height: 15px;
}
core-tooltip.delayed:hover::shadow .core-tooltip,
core-tooltip.delayed:focus::shadow .core-tooltip {
    opacity: 1;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
    transform: translate3d(0px, 0px, 0px);
}