:host {
    margin: 0 auto;
}
table {
    border-collapse: collapse;
}
.summary-table {
    margin-top: 4px;
    font-weight: bold;
}
.selection-column {
    padding: 10px;
}
.data-column {
    padding: 4px;
}
.selection-column{
    padding: 4px 4px 4px 8px;
}
div.selection-column {
    padding 4px;
}
td.selection-column {
    vertical-align: bottom;
}
td.data-column {
    color: #607D8B;
    cursor: pointer;
}
core-icon-button,
tg-ui-action::shadow core-icon-button,
tg-page-action::shadow core-icon-button,
tg-secondary-action-button::shadow core-icon-button{
    padding: 4px;
    margin: 0px;
}
.header {
    background-color: #0288D1;
    color: white;
    font-weight: bold;
}
.card-header {
    padding: 4px;
    border-bottom: 1px solid #e5e5e5;
}
th {
    cursor: default;
}
tbody>tr.regular-color:not([selected]) {
    background-color: white;
}
tbody>tr.alternate-color:not([selected]) {
    background-color: #F5F5F5;
}
tbody>tr:hover:not([selected]) {
    background-color: #E1F5FE;
}
tbody>tr[selected],
.card-header-background[selected] {
    background-color: #B3E5FC;
    opacity: none;
}
.card-header-background:not([selected]) {
    background-color: white;
    opacity: 0.7;
}
core-tooltip::shadow #tooltip {
    white-space: normal;
}
core-tooltip .span-tooltip {
    line-height: 15px;
}
core-tooltip.delayed:hover::shadow .core-tooltip,
core-tooltip.delayed:focus::shadow .core-tooltip {
    opacity: 1;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
    transform: translate3d(0px, 0px, 0px);
}
.header paper-checkbox::shadow #checkbox {
    background-color: #0288D1;
    border-color: white;
}
paper-checkbox::shadow #checkbox.checked {
    background-color: #0288D1;
    border-color: #0288D1;
}
paper-checkbox::shadow #checkbox:not(.checked)>#checkmark {
    border-color: transparent;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.data-entry {
    padding: 0.75em 1.5em;
}
.data-label {
    font-size: 0.75em;
    background: transparent;
    color: #757575;
    cursor: default;
}
.data-value {
    height: 1.4em;
    margin: 0.5em 0 0.25em;
    border-bottom: 1px solid black;
    cursor: pointer;
    color: #607D8B;
}
.card {
    margin: 20px 30px;
}
.expand-button {
    position: absolute;
    bottom: 0;
    left: calc(50% - 14px);
    padding: 0;
}