:host {
    margin: 0 auto;
}
table {
    border-collapse: collapse;
}
.selection-column {
    padding: 10px;
}
th.data-column,
td.data-column {
    padding: 0.75em 1.5em;
}
th:nth-of-type(3),
td.data-column:nth-of-type(3) {
    padding-left: 10px;
}
th:nth-last-of-type(2),
td:nth-last-of-type(2) {
    padding-right: 10px;
}
th {
    cursor: default;
}
td.data-column {
    color: #607D8B;
    cursor: pointer;
}
/*.table-container {
    overflow-y: auto;
    overflow-x: hidden;
}*/

tbody>tr:nth-child(even):not([selected]) {
    background-color: white;
}
tbody>tr:nth-child(odd):not([selected]) {
    background-color: #F5F5F5;
}
tbody>tr:hover:not([selected]) {
    background-color: #E1F5FE;
}
tbody>tr[selected] {
    background-color: #B3E5FC;
}
thead>tr.header-color {
    background-color: #0288D1;
    color: white;
}
core-tooltip::shadow #tooltip {
    white-space: normal;
}
core-tooltip .span-tooltip {
    line-height: 15px;
}
core-tooltip.delayed:hover::shadow .core-tooltip,
core-tooltip.delayed:focus::shadow .core-tooltip {
    opacity: 1;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
    transform: translate3d(0px, 0px, 0px);
}
th paper-checkbox::shadow #checkbox {
    background-color: #0288D1;
    border-color: white;
}
paper-checkbox::shadow #checkbox.checked {
    background-color: #0288D1;
    border-color: #0288D1;
}
paper-checkbox::shadow #checkbox:not(.checked)>#checkmark {
    border-color: transparent;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.column-label {
    font-size: 0.75em;
    background: transparent;
}